/*GLOBAL*/
.btn-text{
    color: white;
}

ul{}
/*HOME*/
.home{
    background-image: url("home full.png");

  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: auto;
    /* Needed to position the navbar */
    width: 100%;
}

.navbar-brand{
    margin-left: 20px;
}
.top-nav{
    overflow: hidden;
    width:100%;
    min-width: 650px;
    box-sizing: border-box;
}
.top-nav ul li {
    float:left;
    width: 20%;}
.top-nav ul li a {
    display: block;
    color:white;
    text-decoration:none;
    text-align: center;
}
.top-nav ul{
    width: 100%;
}

.bottom-header{
    color: #E74525;
    margin-top: 1300px;
}

.title{
    margin-top: 1200px;
    font-size: 37px;
    color: #444444;
}
li.nav-item{
    float: left;

}

.laptop{
    margin-left: 202.5px;
}

#home-image-one{
    margin-top: 50px;
}
#home-image-one img{
    margin-left: 100px;
}

#home-image-two img{
    margin-left: 100px;
    margin-top: 450px;
}

#home-image-three{
    margin-top: 750px;
}
.right-home-text{
    margin-left: 100px;
}

.left-home-text{
    margin-left: 250px;
}
.upper-text{
    color: white;
    font-size: 35px;
    font-weight: bold;
    margin-top: 450px;
}

.lower-text{
    font-size: 14px;
    color: white;
}

.upper-text-dark{
    color: #444444;
    font-size: 35px;
    font-weight: bold;
}

.lower-text-dark{
    color: #6C6C6C;
   font-size: 14px;

}
.home-text-upper{
    color: #444444;
    font-size: 17px;
}
.home-text-lower{
    color: #707070;
    font-size: 14px;
}
/*NAVIGATION*/
.navbar-light .nav-link{
    color: white;
    background: transparent;
}

.navbar-nav .nav-text{
        flex-direction: row;

}

li.nav-tag{
    color: white;
    font-size: 14px;
    font-family: "Segoe UI";


}

input#nav-search{
    border-radius: 20px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.23);
    height: 38px;
    width: 225px;
}


/*ABOUT*/
#about-bg{
    margin-left: 109.5px;
}
.about-text{
    color: white;
    font-size: 14px;
}
#footer{
    height: 300px;
    border-style: none;
    background-color: #1B1C1D;
    border-radius: 0px;
    color: #E74525;

}
#footer-body{
    padding: 30px;
}
/*SIGNUP*/
.sign-up-text{
    color: white;
    font-family: "Segoe UI";
    margin-left: 205px;
    margin-top: 50px;
    font-size: 30px;
}
.signup-img{
    margin-top: 50px;
    margin-left: 170px;
}
 .signup{
    background-image: url("SIGN UP FLOW.png");
    height: 100%;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;


}

#signup-form{

    color: #5a6268

}

#signup-card{
    height: fit-content;
    width: 354px;
    margin-left: 170px;
    background: linear-gradient(0deg, rgba(211, 211, 211, 0.69), rgba(255, 255, 255, 0.69));
    margin-top: 30px;
    border-style: none;
}

input.signup-input{
    margin-top: 15px;
    width: 95%;
    height: 43px;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.44);
    padding-left: 10px;
    border-width: 1px;
    border-color: white;
    border-style: solid;

}
.form-rules{
    font-size: 11px;
}
form#signup-form{
    margin-top: 10px;
}

.form-label{
    color: white;
}

/*LOGIN*/
#login-card{
    height: fit-content;
    width: 354px;
    margin-left: 170px;
    background: linear-gradient(0deg, rgba(211, 211, 211, 0.69), rgba(255, 255, 255, 0.69));
    margin-top: 37px;
    border-style: none;

}

/*PROFILE*/
#overview{
    width: 80%;
}

.info-card-wrapper{
    display: flex;
    flex-direction: row;

}
.info-card{
    background-color: white;
    width: 30%;
    height: 27%;
    padding: 20px;
    margin: 10px;
}
.schedule-card{
    width: 100%;
    height: fit-content;
}

.square-wrapper{
    width: 80%;
    padding: 15px;
    height: 80%;
    border-color: #E74525;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    color: #707070;
    margin: 20px;
}
.square-wrapper:hover{
    transform: scale(1.1,1.1);
}
.flex-content{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.calendar-toggle{
    display: none;
}
.profile-bar {
   background-color :#E74525 ;
   width: 307px;
}
#burgermenu{
   margin-left: 14.5px;
   margin-top: 9px;
}
img#notification{


}

#set{
    margin-top: 5px;
    width: 250px;
    position: absolute;
    margin-left: 5px;
    border-style: solid;

}
li#burgermenu-text{
    color: #353a3c;
    font-family: Josefin Sans, sans-serif;
}
#profilepic {

    display: inline;
    width: 100%;
    height: auto;

}
.profile-pic-wrapper{
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    width:200px;
    height:200px;
    margin-top: 70px;
    margin-left: 10%;
}

#profilepic-u {
   margin-top: 70px;
    margin-left: 60px;
}

#profilename{
   font-family: "Segoe UI";
   font-size: 24px;
   color: white;
   margin-top: 35px;
    text-transform: uppercase;

}
.icon{
   height: 24px;
    width: 24px;
}

#profilename-u{
   font-family: "Segoe UI";
   font-size: 24px;
   color: grey;
   margin-top: 70px;
   text-transform: uppercase;

}
a{
    color: white;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
}

/* Style the tab */
.tab {
  overflow: hidden;
}

button{
    color: white;
}
/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 100px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}
/* Style the tab content */
.tabcontent-video {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

a:hover{
    list-style: none;

}
li{
   list-style-type: none;

   color: #DDD2D0;
   font-size: 14px;
   margin-top: 12px;
   margin-bottom: 12px;
    font-family: josefin-sans,sans-serif;
    font-weight: 400;
    font-style: normal;
}


#botrnav{
   margin-top:60px;
}
.icon{
   margin-right: 11.4px;

}

.icon-u{
   margin-right: 5.4px;
   width: 25px;


}

#top-icon-u{
    margin-top: 60px;
}


.col-10{
   background-color: #DCDCDC;
}

input.search{
   background-color: rgba(134, 130, 130, 0.18);
   border-radius: 20px;
   margin-top: 19px;
   border-style: none;
   opacity: 45%;

}

.session{
   margin-top: 60px;
   margin-left: 0px;
   color: #707070;
}

#session-card{
    background-color: white;
    border-radius: 20px;
    width: 400px;
    margin-left: 0px;
    height: 200px;
    margin-top: 70px;

}

#my-session-card{
    background-color: white;
    border-radius: 20px;
    width: 680px;
    margin-left: 0px;
    height: fit-content;
    margin-top: 70px;

}
p.description{
    width: 230px;
    height: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11px;

}
/*dashboard*/

#dashboard-card{
    width: 326px;
    height: 214px;
    margin-left: 130px;
    margin-top: 45px;
}

#dashboard-long-card{
    width: 782px;
    margin-left: 145px;
    margin-top: 24px;
    height: 214px;
}

/*session cards*/



/*TRAINERS PROFILE*/

card#create_card{
    background-color: white;
    border-radius: 20px;
    border-style: none;
    height: fit-content;
    width: 1004px;
    margin-top: 40px;


}

card#create_card_trainer{
    background-color: white;
    border-radius: 20px;
    border-style: none;
    height: 227px;
    width: 1004px;
    margin-top: 40px;

}

.category{
    width: 150px;
    height: 50px;

}
ul.category{
    padding: 0px;
    margin: 0px;
}

.description-field{
    width: 600px;
    height: 100px;
    border-style: solid;

}
.category-dropdown{
    margin-top:40px;
}

.time-input{
    display: none;
}

.verification-text{
    color: darkgray;
    font-size: 13px;
    margin-top: 20px
}
/*DISCOVER*/

/*Buttons*/
#alert-btn{
    background-color: #E74525;
    border-radius: 9px;
    width: 60px;
    height: 32.5px;
    border-style: none;
}

button#create_btn{
    background-color: #E74525;
    height: 46px;
    width: 119.07px;
    margin-top: 50px;
    border-radius: 9px;
    border-style: none;
    color: white;

}



#card-btn{
    margin-top: 2px;
    background-color: #E74525;
    border-radius: 9px;
    width: fit-content;
    height: 46px;
    border-style: none;
    color: white;
}

input#signup-btn{
    background-color: #E74525;
    border-radius: 20px;
    width: 96.5px;
    height: 31.45px;
    border-style: none;
}

input#signup-long-btn{
    background-color: #E74525;
    border-radius: 7px;
    width: 246px;
    height: 45px;
    border-style: none;
    color: white;
}

.session-card-left{
    padding-right: 8px;
}

.session-card-right{
    padding-right: 8px;
    margin-left: 114px;
}

#set{
    display: none;
}

.flex-column{

    margin-left: 100px;
}

.input-box-border{
    background: none;
    border-color: #E74525;
}

/*CARDS*/
#badge-card{
    width: 304px;
    height: 227px;
    margin-left: 20px;
    border-radius: 20px;
    margin-top: 20px;
}

/*TEXT*/
.badge-text p{
    margin-top: 140px;
}
.dashboard-content {
    align-content: center;
    font-size: 70px;
    color: #4CC32E;
    font-family: "Segoe UI";
}

button.badge-btn{
    background-color: #E74525;
    height: 46px;
    width: 119.07px;
    margin-top: 45px;
    border-radius: 9px;
    border-style: none;
    color: white;
    margin-top: 10px;
}

body, html {
    height: 100%;
}



/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("disc.png");
  height: 300px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  margin-left: 157px;
  font-weight: bold;
  font-size: 78px;
  color: white;
  font-family: "Segoe UI";
  margin-top: 0px;
  top: 100px;
}

.discover-list{
    margin-top: 150px;
    color: #6C6C6C;
    margin-left: 70px;

}

.profile-thumbnail{
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    width:40px;
    height:40px;

    margin-left: 10%;
}

.discover-list-link{
    color: #6C6C6C;
}

#discover-body{
    background-color: #E2E2E2;
}

ul li.discover-list a:link{
    color: #6C6C6C;
}

#discover-content{
    margin-top: 50px;
    color: #444444;
}

.category-title{
    font-size: 30px;
}

.video-thumbnail{

}
.video-window{
    width:300px ;
    height:200px;
}
.video-thumb-card{
    margin-top: 30px;
    width: fit-content;
    margin-left: 50px;
}

.user-thumb{
    font-size: 10px;
    display: inline;
    width: 100%;
    height: auto;
}

.training-jumbotron{
      /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("training.png");
  height: 300px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.event-jumbotron{
          /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("event (3).png");
  height: 300px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

    .carousel-item {
    height: 100%;
    min-height: 400px;
    background: no-repeat center center scroll;
    background-size: cover;
    }

.unitalk-jumbotron{
              /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("unitalk3.png");
  height: 300px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.dropdown-item{
    font-size: 12px;
    color: #6C6C6C;
}

ul {list-style-type: none;
    padding: 0px;
}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}

ul .list-group-item:hover{
    background-color: #E74525;
    color: white;
}

ul.list-group{
    margin-left: 400px;
}
ul.list-group-item{
    color: white;
}

.btn-group{
    margin-left: 400px;
}


#config-card.accordion{
        background-color: white;
    border-radius: 20px;
    border-style: none;
    height: 227px;
    width: 1004px;
    margin-top: 40px;
    margin-left: 137px;

}

#circle {

   -webkit-border-radius: 25px;
   -moz-border-radius: 25px;
   border-radius: 25px;
   background: red;
 }

p{
    font-family: josefin-sans,sans-serif;
font-style: normal;
}

li{
  font-family: josefin-sans,sans-serif;
font-style: normal;
}

/* The sidebar menu */
.sidenav {
  width: 16.66%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #E74525; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden; /* Disable horizontal scroll */
    height: 100%;
}

/* The sidebar menu */
.sidenav-u {
  width: 5%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #E74525; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden; /* Disable horizontal scroll */
    height: 100%;
}

/* The navigation menu links */
.sidenav a {
   list-style-type: none;

   font-size: 14px;
   margin-top: 12px;
   margin-bottom: 12px;
    font-family: josefin-sans,sans-serif;
    font-weight: 400;
    font-style: normal;
    display: block;
}

/* The navigation menu links */
.sidenav-u a {
   list-style-type: none;

   color: #DDD2D0;
   font-size: 14px;
   margin-top: 12px;
   margin-bottom: 12px;
    font-weight: 400;
    font-style: normal;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f18e36;
}

/* Style page content */
.main {
  margin-left: 16.66%; /* Same as the width of the sidebar */
  padding: 0px ;

}
/* Style page content */
.main-u {
  margin-left: 5%; /* Same as the width of the sidebar */
  padding: 0px ;

}


.create-header{
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    color: gray;
    padding-top: 5px;
    margin-left: 10px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

div.modal{
    width: 400px;
    height: 500px;
    background-color: transparent;
    margin-top: 65px;
    margin-left: 520px;
    padding: 0px;
    border-style: none;

}
.input_class{


font-family: Josefin Sans,sans-serif;
    background-color: #E74525;
    color:white;margin-top:10px;width: 200px;border-style: none
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.modal-body {

    padding: 2px 16px;

}


.uploads{
    margin-left: 30px;
}

.session-container{
    margin-left: 100px;
}

.side-nav-menu{
    margin-left: 60px;
}

.video-page{
    width: 900px;
    height: 480px;
}

.video-list{
    margin-top: 115.6px;
}

ul.upload-list{
    display: flex;
    flex-direction: row;
}


.video-card{
    width: 400px;
    padding: 0px;
}

.video-text{

    margin-top: 20px;
}
.video-text-list{
    font-size: 14px;
    color: black;
}

.userview{
    margin-left: 170px;
}

.comment-box{
    height: 100px;
    width: 600px;
}

.orange{
    color: #E74525;
}

.errors{
    font-size: 10px;
    color: red;
}

.post-card{
    width: 200px;
    margin-top: 10px;
    margin-left: 60px;
}

.post-category{
    font-size: 13px;
    font-family:'Segoe UI';
    color: darkgray;
}

.upload-card{
    height: fit-content;
    width: fit-content;

}
.series-div{
    border-style: solid;
    border-width: 1px;
    border-color: #E74525;
    padding: 20px;
}
.upload-username{
    font-size: 10px;
}

p.login-text{
    font-size: 14px;
    margin-top: 25px;
}

.meetingTitle{
    color: darkgray;
    padding: 20px;
}

.dropdownLinks{
    padding-left: 15px;
}
.subscribers{
    font-size: 13px;
}
.bot-nav{
    display: none;
}
img.corner-design{
    display: none;
}
.corner-image{
    display: none;
}

.form-upload{
    border: black;
    border-width: medium;
    padding: 30px;
    width: 100%;
}

.collapsible {
  background-color: #E74525;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 90%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
}

.content {
  padding: 10px;
  display: none;
  overflow: hidden;
}

.settings-card{
    overflow-x: scroll;
    overflow-y: scroll;
}
#myCarousel{
    display: none;
}

#like-icon{
    margin-left: 510px;
    margin-right: 7px;
}

#unlike-icon{

    margin-right: 7px;
}
.like-wrapper{
    display: flex;
}

p.likes{
    margin: 3px;
    color:gray;
}
.add-btn{
    position: absolute;
    margin-left: 15px;
    border-style: solid;
    border-color: #E74525;


}

.followers-card-wrapper{
    width: 30%;
    height: 400px;
    padding: 20px;
}

.landing-container{
    display: flex;
}
.followers-card{
    height: inherit;
    padding: 15px;
}

.icon-list{
    color: #48B06F;
    float: right;

}

.video-thumb-icon{
    width: 12px;
    padding: 2px;
    cursor: pointer;
}
#followers-count{
    margin-top: 30px;
    display: inline-block;
}


.mobile-navigation{
    display: none;
}


#main{
    display: none;
}

@media screen and (max-width: 600px){

body{
    margin: 0 0 55px 0;
}
#main{
    display: block;
}


.bot-nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    background-color: white;
    display: flex;
    overflow-x: auto;
    z-index: 100;
}
.navLink{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    color: #444444;
    font-size: 12px;
    font-family: Josefin Sans, sans-serif;

}



.navLink:hover{
    text-decoration: none;
    color:#E74525 ;
}
.navLink-center {
    background-color: #E74525;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    color: white;
    font-size: 10px;
    font-family: Josefin Sans, sans-serif;
}
.navLink-center:hover{
    text-decoration: none;
    color:#444444 ;
}
 .sidenav{
  width: 100%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #DCDCDC; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden; /* Disable horizontal scroll */
  height: 80px;
 display: flex}
 .sidenav-u{
      padding: 0px;
 }
 .profile-pic-wrapper{
    margin-top: 2%;
    width: 34px;
    height: 34px;
     margin-left: 0%;
 }
 #profilepic{
    display: inline;
    width: 100%;
    height: auto; }
 .side-nav-menu{
     display: none;
 }
 #profilename{
     font-size: 14px;
     margin-bottom: 0px;
     margin-top: 17px;
     color: black;
 }
 #burgermenu{
    float: right;
    position: fixed;
    right: 10px;
    width: fit-content;
}
 .subscribers{
     margin-top: 5%;
     margin-left:0px;
 }
 .info-text{
     margin-left: 5%;
 }
 .search{
     display: none;
 }
 card#create_card_trainer{
    margin-top: 100px;
    margin-left: 5%;
    width: 90%;
    height: 213px;
    margin-right: 5%;

 }
 .main{
     margin-left: 0px;
 }
 .session-container{
     margin-left: 0px;
 }
 .session{
     margin-top: 10px;
     margin-left: 5%;
 }
 #my-session-card{
    margin-left: 5%;
    width: 90%;
    height: 213px;
    margin-right: 5%;
    margin-top: 15px;

 }
 .session-card-right{
     margin-left: 0px;
 }
 .meeting-details{
     font-size: 13px;
 }


 .mobile-nav-link{
     margin-left: 31px;
 }
 .mobile-icon{
     width: 25px;
     font-size: 10px;
 }
/* create meeting*/
  card#create_card{
    margin-left: 5%;
    width: 90%;
    height: fit-content;
    margin-right: 5%;
    margin-top: 25px;
    padding-right: 5%;
    padding-left: 5%;
  }
  #calendar{
      width: 100%;
      display: none;
  }
  .session-container{
      margin-top: 70px;

  }
   #create_card.card-body{
     padding: 0px;

  }
  .description-field{
      width: 250%;
  }
  #create_card form{
      width: 100%;
  }
  body{
      overflow-x: hidden;
  }
  /*main*/
    #navbarTogglerDemo01{
        background-color: #1B1C1D;
        z-index: 5;
    }
    #nav-search{
        display: none;
    }
  .home{
      background-color: white;
      background-image: url("mobile-home.png");
        /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;
    /* Needed to position the navbar */
    width: 100%;
  }
  .home-wrapper{
      position: relative;
      overflow-x: hidden;
  }
  .title{
      margin-top: 800px;
      font-size: 22px;
  }
  #home-image-one{
      display:none;
  }
  div#home-image-two.col-6{
      display:none;
  }
  #home-image-two{
      margin-top: 10%;
      background-color: #E74525;
      height: 500px;
      width: auto;
  }
  .right-home-text{
    margin-right: 0px;
    display: block;
    margin-left: 5%;
}
  .left-home-text{
    text-align: left;
    margin-left: 0px;
      margin-left: 5%;
}
  div.col-6{
      display:none;
  }
  div.col-4.left-home-text{
      width: 100%;
      display: block;

  }
  p.upper-text{
      margin-top: 20px;
  }
  p.lower-text{
      margin-top: 10px;
  }
    #home-image-three{
      margin-top: 10%;

      height: 500px;

  }
    .home-signup{
        height: 298px;
        width: auto;
        background-color: #1B1C1D;
        margin-top: 15%;
        padding: 10px;

    }
    h3.bottom-header{
        margin-top: 15%;
    }

    /*login and signup */
    .sign-up-text{
        display: None;
    }
    .signup-img{
        display: none;
    }
    div.col-lg-7.col-md-7.col-sm-7{
        display: none;
    }
    .signup{
              background-color: white;
      background-image: url("login-signup-bg.png");
        /* Center and scale the image nicely */
    background-size: cover;
    width: 100%;
    height: 80%;

    }
  card#login-card{
    margin-left: 5%;
    width: 90%;

    margin-right: 5%;
    margin-top: 25px;
    padding-right: 5%;
    padding-left: 5%;
  }
    card#signup-card{
    margin-left: 5%;
    width: 90%;

    margin-right: 5%;
    margin-top: 25px;
    padding-right: 5%;
    padding-left: 5%;
  }
  .corner-image{
    background-image: url("corner-design.png");
    background-repeat: no-repeat;

    background-size: initial;
    top: 0;
    right: 0;
    height: 100px;
    width: 100px;
    position: absolute;
  }
  .hero-image{
      background-image: none;
  }
  #y{
      background-image: url("corner-design.png");
    background-repeat: no-repeat;
    background-size: initial;
    float: right;
    height: initial;
  }
  .corner-design{
      height: 50px;
      width: 50px;
  }
  .hero-text{
      font-size: 25px;
      text-align: left;
      position: initial;
      margin-left: 5%;
      display: none;

  }
  .discover-list{
      display: none;
  }
  .category-title{
      display: none;

  }

  .video-window{
      width: 100%;
      height: 161px;
  }
  #card.video-thumb-card{
    margin-top: 15%;
    width: 100%;
    margin-left: 0px;
 }

  div.dashboard-card{
      padding: 10% 10% 10% 5%;
  }
  #dashboard-card{
    width: 45%;
    height: 100px;
    margin-left: 5%;
    margin-top: 45px;
  }
  .dashboard-content {

    font-size: 35px;
    padding-left: 8%;
  }
  .dashboard-body{
      display: flex;
  }
  #dashboard-long-card{
      width: 80%;
      height: 200px;
      margin-top: 0px;
      margin-left: 10%;
      margin-right: 10%;
      align-content: center;
  }
  #dashboard-long-card.dashboard-content p{

    font-size: 40px;
    padding-left: 8%;
  }
  .form-upload{
      margin-left: 0px;
  }
  .form-upload textarea{
      width: 100%;
  }
  div.col-4{
      display: none;
  }
  .settings-card{
      overflow-x: hidden;
      overflow-y: hidden;
  }
  .top-nav{
    overflow: hidden;
    width:100%;
    box-sizing: border-box;
      min-width: 400px;
}
  .home-wrapper{
      display: none;
  }
  .home{
      background-color: white;
      background-image: none;
      overflow-x: hidden;
  }
  .top-navigation{
      display: none;
  }
    .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: block;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
a.closebtn{
        position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#main {
    transition: margin-left .5s;
}
body{
    transition: background-color .5s;
}

.navbar-brand img{
    width:55%;

}


.mobile-navigation{
    display: block;
}

ul.upload-list{
    display: flex;
    flex-direction: column;
}
.thumb-wrapper{
    height: 200px;
    overflow: hidden;
    position: relative;
}

.video-feed{
    width: 100%;
    height: 200px;
}

.thumb-wrapper li{
    margin-top: 0px;
}
.video-info{
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 3%;

}
.inner-info{


}

.nav-link{
    color: #818181;
}

.nav-link.active{
    color: #E74525;
}

#unlike-icon {

    margin-right: 7px;

}

.likes{
    float: right;
    color: #707070;
        position: relative;
    right: 12px;
}
.row{
    margin: 0px;
    padding: 0px;

}

.col-2{
    margin: 0px;
    padding: 0px;
}
.col{
        margin: 0px;
    padding: 0px;
}
.video-details{
    display: none;
}

#video-nav{
        position: fixed;
    bottom: 55px;
    width: 100%;
    height: 55px;
    background-color: white;
    display: flex;
    overflow-x: auto;

}

.common-btn{
    border-radius: 4px;
    background-color: #5bb75b;
    padding: 10px;
    width: fit-content;
    border-style: none;
}
a.video{
    display: block;
    width: 100%;
    height: 200px;
}

#video-description{
    font-size: small;
}

.navbar-brand{
    display: inline-block;
    /* padding-top: .3125rem; */
    /* padding-bottom: .3125rem; */
    /* margin-right: 1rem; */
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    z-index: 100;
    left: 40%;
    position: absolute;
    right: 40%;
    width: 20%;
    margin-left: 0px;
}

.left-icons{
        right: 12px;
    position: absolute;
}

.profile{
    display: none;
}

.user-profile-info{
    font-size: 14px;
    margin-top: 10%;
    color: #707070;
    align-items: center;
}
#user-username{
    font-size: 15px;
    margin-top: 4%;
    font-weight: 500;
    margin-left: 3%;
    margin-bottom: 4%;
}

.user-profile-pic-wrapper{
        margin-top: 0%;
    width: 60px;
    height: 60px;
     margin-left: 10%;
        border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.fixed-btn{
        border-radius: 4px;
    background-color: #5bb75b;
    padding: 5px;
    width: 132px;
    height: fit-content;
    border-style: none;
}
.profile-btn{
    margin-bottom: 4%;
}

.left-sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: block;}
#follow{
    display: none;

}
#unfollow{
    display: none;
}
#live{
    display: none;
}
#live-card{
    height: fit-content;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 3%;
            border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.live-img-wrapper{
        padding-left: 0px;
    overflow: hidden;
    height: 62px;
    position: relative;
        border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.live-details-img-wrapper{
        padding-left: 0px;
    overflow: hidden;
    height: 62px;
    position: relative;


}

.live-img{
    height: auto;
    width: 100%;
}

.live-profile-pic-wrapper{
    width: 42px;
    height: 42px;
    bottom: 20px;
    float: right;
    position: relative;
    right: 15px;
    border-radius: 50%;
    overflow: hidden;

}
.live-info{
    font-size: 12px;
}

.live-details{
    display: none;
}


.live-title{

    font-size: 15px;
    font-weight: 600;
}

.circle-icon{
        border-radius: 50%;
    height: fit-content;
    width: fit-content;
}
.fc-today-button {
    margin-top: 3%;
}
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 14px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.dropdown-btn:hover {
  color: #f1f1f1;
}
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
.flex-fill{
    margin-left: 0px;
}
.flex-column{
    margin-left: 0px;
}
}

