alembic==1.4.2
alipay-sdk-python==3.3.398
anaconda==0.0.1.1
anytree==2.8.0
apple-calendar-integration==0.0.1
bcrypt==3.1.7
beautifulsoup4==4.7.1
bleach==3.1.4
blinker==1.4
Bootstrap-Flask==1.0.10
boto3==1.11.13
botocore==1.14.13
bs4==0.0.1
bullet==2.1.0
certifi==2016.2.28
cffi==1.14.0
chainmap==1.0.3
chardet==2.3.0
click==7.1.2
cliff==2.18.0
cmd2==0.8.9
colorama==0.4.3
combomethod==1.0.12
configobj==5.0.6
configparser==4.0.2
cryptography==2.9.2
cycler==0.10.0
DateTime==4.3
device-detector==0.10
dnspython==1.16.0
docutils==0.15.2
dominate==2.3.1
email-validator==1.0.5
fake-factory==0.5.3
fanstatic==1.1
filelock==3.0.12
filetype==1.0.7
Flask==1.1.2
Flask-Admin==1.5.4
Flask-Bcrypt==0.7.1
Flask-Bleach==0.0.2
Flask-Blogging==1.2.2
flask-blueprint==1.3.0
Flask-Bootstrap==3.3.7.1
Flask-Bootstrap4==4.0.2
Flask-Caching==1.8.0
Flask-Ext==0.1
Flask-FileUpload==0.5.0
flask-heroku==0.1.9
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Markdown==0.3
flask-marshmallow==0.10.1
Flask-Migrate==2.5.3
Flask-MySQLdb==0.2.0
Flask-PageDown==0.2.2
Flask-Principal==0.4.0
flask-redis==0.4.0
Flask-Script==2.0.6
Flask-Sijax==0.4.1
Flask-SQLAlchemy==2.4.1
Flask-Uploads==0.2.1
Flask-WTF==0.14.2
Flask-WTF-Ext==0.2
Flask-WX-OAuth==0.2.3
fontlib==20190831.1
fspath==20190323
future==0.17.1
generate-passwords==0.1.3
glob3==0.0.1
gnupg==2.3.1
gunicorn==19.7.1
html5lib==1.0.1
httplib2==0.17.0
humanfriendly==6.0
idna==2.9
importlib-metadata==1.5.0
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.9.4
js.fullcalendar==2.9.1
js.jquery==3.3.1
js.momentjs==2.13.1
jsonify==0.5
jsonpickle==1.2
kiwisolver==1.0.1
lxml==4.3.3
Mako==1.1.2
Markdown==3.1.1
MarkupSafe==1.1.1
marshmallow==3.5.1
marshmallow-sqlalchemy==0.18.0
matplotlib==3.0.3
mysql==0.0.2

mysql-connector==2.2.9
mysqlclient==1.4.6
nulltype==2.3.1
numpy==1.16.2
options==1.4.10
packaging==20.1
pandas==0.24.2
pbr==5.4.4
peewee==3.9.2
pem==20.1.0
pexpect==4.8.0
Pillow==6.2.2
pluggy==0.13.1
prettytable==0.7.2
property-manager==2.3.1
psutil==5.6.7
psycopg2==2.8.5
ptyprocess==0.6.0
py==1.8.1
pyasn1==0.4.8
pycparser==2.20
pycryptodome==3.9.8
pycryptodomex==3.9.4
pyflakes==2.1.1
Pygments==2.5.2
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyparsing==2.3.1
pyperclip==1.7.0
pyreadline==2.1
PySocks==1.7.1
python-dateutil==2.6.1
python-editor==1.0.3
python-hmac-auth==0.4
python-slugify==3.0.6
pytz==2017.3
PyYAML==5.3
qmath==0.3.0
rauth==0.7.3
redis==3.3.11
regex==2020.5.7
requests==2.9.1
rsa==4.6
s3transfer==0.3.3
scikit-learn==0.20.3
shortuuid==0.5.0
shutilwhich==1.1.0
Sijax==0.3.2
simple-math==1.1.0
simplemath==1.0
six==1.10.0
soupsieve==1.9.1
SQLAlchemy==1.3.16
ssh-import-id==5.5
stevedore==1.31.0
style==1.1.0
template-render==0.1.0
tencentcloud-sdk-python==3.0.170
text-unidecode==1.3
tinycss2==1.0.2
toml==0.10.0
tox==3.14.3
update==0.0.1
urllib3==1.13.1
verboselogs==1.7
virtualenv==15.0.1
visitor==0.1.3
webencodings==0.5.1
WebOb==1.8.5
Werkzeug==0.16.1
WTForms==2.3.1
WTForms-Appengine==0.1
WTForms-Ext==0.2
WTFormValidation==1.0.0
xkcdpass==1.17.3
xlrd==1.2.0
xlrdinc==1.2.0.4
yamlreader==3.0.4
zipp==2.2.0
zope.interface==4.6.0
