<!DOCTYPE html>

<html lang="en">

{% block head %}
<head>

    <meta name="viewport" content="width=device-width , initial-scale=1.0" charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='stylesheet.css') }}">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.typekit.net/inv5iwl.css">
    <link href="https://vjs.zencdn.net/7.8.2/video-js.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="../static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link href='../static/packages/core/main.css' rel='stylesheet' />
    <link href='../static/packages/daygrid/main.css' rel='stylesheet' />
    <link href='../static/packages/timegrid/main.css' rel='stylesheet' />
    <link href='../static/packages/interaction/main.js' rel='script' />
    <link href='../static/packages/bootstrap/main.css' rel='stylesheet' />
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">




    <title>{% block title %}100CHINAGUIDE{% endblock %}</title>
<meta property="og:url"           content="https://www.100chinaguide.com" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="100ChinaGuide" />
<meta property="og:description"   content="Your description" />
<meta property="og:image"         content="https://www.100chinaguide/static/logo.svg" />
{{ share.load() }}
</head>
{% endblock %}

{% block background %}
<body class="home">
{% endblock %}
{% block nav %}
    <div class="top-navigation">
<nav class="top-nav navbar  navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-expand-xl  navbar-light">
  <a class="navbar-brand" href="#"><img src="../static/100cg.png" alt="" width="80"></a>
      <img class="corner-design" src="../static/corner-design.png" alt="">

    <button class="navbar-toggler" type="button" data-target="#navbarTogglerDemo01" data-toggle="collapse" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav nav-text mr-auto mt-2 mt-lg-0" >
      <li class="nav-item nav-tag ">
        <a class="nav-link " href="/" style="color: white;font-family: josefin-sans,sans-serif;">HOME </a>
      </li>
      <li class="nav-item nav-tag">
        <a class="nav-link " href="{{ url_for('discover_h') }}"  style="color: white ;font-family: josefin-sans,sans-serif;">DISCOVER</a>
      </li>
      <li class="nav-item nav-tag">
        <a class="nav-link " href="{{ url_for('live') }}"  style="color: white ;font-family: josefin-sans,sans-serif;">LIVE</a>
      </li>


    <li class="nav-item nav-tag">
        <form action="">
            <input type="search" id="nav-search">
        </form>
      </li>
    <li class="nav-item nav-tag">
        <a class="nav-link" href="{{ url_for('signup') }}"  style="color: white;font-family: josefin-sans,sans-serif;">SIGN UP</a>
      </li>
    <li class="nav-item nav-tag">
        <a class="nav-link" href="{{ url_for('login') }}"><img src="../static/LOG%20IN.png" alt=""></a>
      </li>
    </ul>
  </div>
</nav>

    </div>
{% endblock %}



{% block topNav %}
    <div class="mobile-navigation">
    <div class="">
 <div class="flash-msg shadow-lg p-5"></div>
     </div>
    <div class="navbar shadow-sm navbar-expand-md navbar-expand-xl navbar-expand-sm navbar-expand">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
        <div class="navbar-brand text-center"><img class="" src="../static/logo.svg" alt=""></div>
    <div class="left-icons">
        <img src="../static/search-icon.svg" alt="">
        <img src="../static/filter.svg" alt="">
        {% if current_user.is_authenticated %}
                <img class="cart" data-href="{{ url_for('cart',user_id=current_user.id) }}" src="../static/cart.svg" onclick="openLeftNav()" alt="">
        {% else %}
            <img class="cart" data-href="" src="../static/cart.svg" onclick="openLeftNav()" alt="">

        {% endif %}
    </div>
    </div>
    {% with messages = get_flashed_messages(with_categories = true)%}
    {% if messages %}
    {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
        {{ message }}
        </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  {% if current_user.is_authenticated %}
      <button id="courses" class="dropdown-btn">Courses
          <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
          <a id="course-create" href="">Create course</a>
          <a id="update-course" data-href="{{ url_for('getUserSeries',user_id = current_user.id) }}" href="#">Update/Edit course</a>
          <a href="#">Bought Courses</a>
          <a href="#">Stats</a>
      </div>
            <button id="schedule" class="dropdown-btn">Schedule
          <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
          <a id="schedule-create" data-href="{{ url_for('getUserSchedule',user_id = current_user.id) }}" href="">Create availability</a>
          <a id="edit-schedule" data-href="{{ url_for('getUserSchedule',user_id = current_user.id) }}" href="#">Update/Edit availability</a>
          <a href="#">Booked schedule </a>
          <a href="#">Stats</a>
      </div>
            <button id="liveSession" class="dropdown-btn">Live Sessions
          <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
          <a id="live-create" href="#">Create live Session</a>
          <a id="update-live" data-href="{{ url_for('getUserLive',user_id = current_user.id) }}" href="">Update/Edit live Session</a>
          <a href="#">Booked live Session</a>
          <a href="#">Stats</a>
      </div>
            <button id="logout" class="dropdown-btn">Logout </button>

  {% else %}id
    <a href="#}">Login</a>
  <a href="#">Sign up</a>
    {% endif %}
</div>

       <div id="leftSidenav" class="left-sidenav">
  <a class="closebtn" onclick="closeLeftNav()">&times;</a>
<div class="cart-list p-3">

</div>
</div>
</div>
{% endblock %}

{% block body %}

{% endblock %}
{% block bottomNav %}

<nav class="bot-nav shadow-lg" >
    <a class="navLink home-icon" data-href="{{ url_for('home', username = current_user.username) }}"><img class="mobile-icon" src="../static/home.svg" alt=""><span class="nav_text">Home</span></a>
    <a class="navLink live"  ><img class="mobile-icon" src="../static/live.svg" alt=""><span class="nav_text">Live</span></a>
   {% if current_user.is_authenticated %}
    <a class="navLink profile-nav" data-href="{{ url_for('userDetails', username = current_user.username) }}" href=""><img class="mobile-icon" src="../static/profile.svg" alt=""><span class="nav_text">Profile</span></a>
{% else %}
    <a class="navLink profile-nav" href=""><img class="mobile-icon" src="../static/profile.svg" alt=""><span class="nav_text">Profile</span></a>
{% endif %}
</nav>

{% endblock %}

{% block script %}
    <div class="share-logos mx-auto text-center p-3  shadow-lg">

                     <div class="fb-share-button"
                        data-href="https://www.100chinaguide.com"
                    data-layout="button_count">

    </div>
    {{ share.create(sites='facebook') }}
    </div>

    <script src='../static/packages/core/main.js'></script>
    <script src='../static/packages/daygrid/main.js'></script>
    <script src='../static/packages/timegrid/main.js'></script>
    <script src='../static/packages/interaction/main.js'></script>
    <script src="https://vjs.zencdn.net/7.8.2/video.js"></script>

<script
  src="../static/jquery-3.4.1.js" type="text/javascript"
></script>
<script src="../static/bootstrap/js/bootstrap.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="../static/javascript.js" type="text/javascript"></script>
<script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<script src="https://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
    <script>
    var options = {

  modules: {
    toolbar: [
      [{ header: [1, 2, false] }],
      ['bold', 'italic', 'underline'],
      ['link', 'blockquote','image', 'code-block'],
        [{ list: 'ordered' }, { list: 'bullet' }],
         [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
  [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
  [{ 'direction': 'rtl' }],                         // text direction


  [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
  [{ 'font': [] }],
  [{ 'align': [] }],

    ]
  },
  placeholder: 'Compose...',

  theme: 'snow'
};
var quill = new Quill('#editor', options);



	$('form#course').on('submit', function(event) {
 var csrf_token = $('#csrf_token').attr('value');
   // Populate hidden form on submit
    var html = quill.root.innerHTML;
    $('#upload_description').val( html );


		$.ajax({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
                $('.loader').css('display','block')
            }
        },  enctype: 'multipart/form-data',
			data : new FormData(this),
			type : 'POST',
			url : '/createcourse?status=single',
            processData: false,
            contentType: false,

        error: function (error) {
          popover('Error uploading your File','error')

          },
          complete: function () {
            $('.loader').css('display','none')

          },

		})
		.done(function(data) {

        $('.loader').css('display','none')
            popover(data,'success')

		});

		event.preventDefault();

	});
		$('form#series-update').on('submit', function(event) {
      var csrf_token = $('#csrf_token').attr('value');
    var html = quill.root.innerHTML;
    $('#update_series_description').val( html );


		$.ajax({
          beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
            $('.loader').css('display','block')
        },
            enctype: 'multipart/form-data',
			data : new FormData(this),
			type : 'PUT',
			url : '/editSeries?series_id='+$(this).attr('course-id'),
            processData: false,
            contentType: false,


          success: function(response){
          },
          error: function (error) {
          popover('Error uploading your File','error')

          },
          complete: function () {
            $('.loader').css('display','none')

          },


		}).done(function(data) {
		  $('.loader').css('display','none')

        popover(data.result.msg,'success')

		});

		event.preventDefault();

	});

$('#quill-html').val( html );

    </script>

    <script>
        var obj = new WxLogin({
 self_redirect:true,
 id:"login_container",
 appid: "wx67fc65e96be93d6d",
 scope: "snsapi_login",
 redirect_uri: "https%3A%2F%2Fwww.100chinaguide.com%2F",
  state: "",
 style: "",
 href: ""
 });

    </script>

<script src="https://unpkg.com/wavesurfer.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.0/howler.js">

</script>
    <script>
var sound = null;
    var audioSrc = '7ad5a4b99fc5275e.mp3'
    var url = '/static/videos/'+audioSrc+'';
        function playSound(url) {
        //check if sound is null, if not stop previous sound and unload it
        if (sound != null) {
            sound.stop();
            sound.unload();
            sound = null;
            }
        var sound = new Howl({
        src: [url],
        autoplay: false,
        loop: true,
        volume: 0.5,
        onend: function() {
        console.log('Finished!');
        }
        });
        sound.once('load', function(){
        sound.play();
        Howler.autoUnlock = false;
        });
        }

    $('audio').on('click',function () {
        playSound(url)
    })
    </script>
    <script>

    var wavesurfer = WaveSurfer.create({
    container: '#waveform',
    waveColor: 'violet',
    progressColor: 'purple',
    scrollParent: true
    });


    </script>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}
</body>
</html>


