<!DOCTYPE html>

<html lang="en">

{% block head %}
<head>

    <meta name="viewport" content="width=device-width , initial-scale=1.0" charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='stylesheet.css') }}">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.typekit.net/inv5iwl.css">
    <link href="https://vjs.zencdn.net/7.8.2/video-js.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="../static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link href='../static/packages/core/main.css' rel='stylesheet' />
    <link href='../static/packages/daygrid/main.css' rel='stylesheet' />
    <link href='../static/packages/timegrid/main.css' rel='stylesheet' />
    <link href='../static/packages/interaction/main.js' rel='script' />
    <link href='../static/packages/bootstrap/main.css' rel='stylesheet' />
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">




    <title>{% block title %}100CHINAGUIDE{% endblock %}</title>
<meta property="og:url"           content="https://www.100chinaguide.com" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="100ChinaGuide" />
<meta property="og:description"   content="Your description" />
<meta property="og:image"         content="https://www.100chinaguide/static/logo.svg" />
{{ share.load() }}
</head>
{% endblock %}

{% block background %}
<body class="home">
{% endblock %}
{% block nav %}
    <div class="top-navigation">
<nav class="top-nav navbar  navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-expand-xl  navbar-light">
  <a class="navbar-brand" href="#"><img src="../static/100cg.png" alt="" width="80"></a>
      <img class="corner-design" src="../static/corner-design.png" alt="">

    <button class="navbar-toggler" type="button" data-target="#navbarTogglerDemo01" data-toggle="collapse" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav nav-text mr-auto mt-2 mt-lg-0" >
      <li class="nav-item nav-tag ">
        <a class="nav-link " href="/" style="color: white;font-family: josefin-sans,sans-serif;">HOME </a>
      </li>
      <li class="nav-item nav-tag">
        <a class="nav-link " href="{{ url_for('discover_h') }}"  style="color: white ;font-family: josefin-sans,sans-serif;">DISCOVER</a>
      </li>
      <li class="nav-item nav-tag">
        <a class="nav-link " href="{{ url_for('live') }}"  style="color: white ;font-family: josefin-sans,sans-serif;">LIVE</a>
      </li>


    <li class="nav-item nav-tag">
        <form action="">
            <input type="search" id="nav-search">
        </form>
      </li>
    <li class="nav-item nav-tag">
        <a class="nav-link" href="{{ url_for('signup') }}"  style="color: white;font-family: josefin-sans,sans-serif;">SIGN UP</a>
      </li>
    <li class="nav-item nav-tag">
        <a class="nav-link" href="{{ url_for('login') }}"><img src="../static/LOG%20IN.png" alt=""></a>
      </li>
    </ul>
  </div>
</nav>

    </div>
{% endblock %}



{% block topNav %}
    <div class="mobile-navigation">
    <div class="">
 <div class="flash-msg shadow-lg p-5"></div>
     </div>
    <div class="navbar  shadow-sm navbar-expand-md navbar-expand-xl navbar-expand-sm navbar-expand">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
        <div class="navbar-brand text-center"><img class="" src="../static/logo.svg" alt=""></div>
    <div class="left-icons">
        <img src="../static/search-icon.svg" alt="">
        <img src="../static/filter.svg" alt="">
        {% if current_user.is_authenticated %}
                <img class="cart" data-href="{{ url_for('cart',user_id=current_user.id) }}" src="../static/cart.svg" onclick="openLeftNav()" alt="">
        {% else %}
            <img class="cart" data-href="" src="../static/cart.svg" onclick="openLeftNav()" alt="">

        {% endif %}
    </div>
    </div>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  {% if current_user.is_authenticated %}
      {% if current_user.can(Permission.MODERATE) %}
      <button id="moderate-content" class="dropdown-btn">Moderate Content
          <i class="fa fa-caret-down"></i>
      </button>
          <div class="dropdown-container">
          <a id="verify-courses"  data-href="{{ url_for('verifyCourseList') }}"  href="#">Verify Courses</a>
          <a id="review-comments" data-href="{{ url_for('getUserSchedule',user_id = current_user.id) }}" href="#">Review/Disable comments</a>
                </div>

          {% else %}
          {% endif %}
      {% if current_user.can(Permission.UPLOAD) %}
      <button id="courses" class="dropdown-btn">Courses
          <i class="fa fa-caret-down"></i>
      </button>
          {% else %}
          {% endif %}

      <div class="dropdown-container">
      {% if current_user.can(Permission.UPLOAD) %}
          <a id="course-create" href="">Create course</a>
          {% else %}

          {% endif %}

          <a id="update-course" data-href="{{ url_for('getUserSeries',user_id = current_user.id) }}" href="#">Manage course</a>
          {% if current_user.can(Permission.BUY) %}
          <a href="#">Bought Courses</a>
              {% else %}
              {% endif %}
      {% if current_user.can(Permission.LIKE) %}
          <a id="liked-course" data-href="{{ url_for('userDetails',username = current_user.username) }}" href="#">Liked Courses</a>
          {% else %}
          {% endif %}
      {% if current_user.can(Permission.UPLOAD) %}
          <a id="series-stats" href="#">Stats</a>
          {% else %}
          {% endif %}
      </div>
      {% if current_user.can(Permission.SCHEDULE) %}
            <button id="schedule" class="dropdown-btn">Schedule
          <i class="fa fa-caret-down"></i>
      </button>
          {% else %}
          {% endif %}
      <div class="dropdown-container">
      {% if current_user.can(Permission.SCHEDULE) %}
          <a id="schedule-create" data-href="{{ url_for('getUserSchedule',user_id = current_user.id) }}" href="">Create availability</a>
          <a id="edit-schedule" data-href="{{ url_for('getUserSchedule',user_id = current_user.id) }}" href="#">Manage availability</a>
          <a id="booked-schedule" data-href="{{ url_for('getUserBookedSchedule',user_id = current_user.id) }}" href="#">Booked schedule </a>
          <a id="schedule-stats" data-href="{{ url_for('getUserBookedSchedule',user_id = current_user.id) }}" href="#">Stats</a>
      {% else %}
          {% endif %}
          </div>
      {% if current_user.can(Permission.LIVE_SESSION) %}
            <button id="liveSession" class="dropdown-btn">Live Sessions
          <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
          <a id="live-create" href="#">Create live Session</a>
          <a id="update-live" data-href="{{ url_for('getUserLive',user_id = current_user.id) }}" href="">Manage live Session</a>
          <a id="booked-live" data-href="{{ url_for('getUserBookedLive',user_id = current_user.id) }}"href="#">Booked live Session</a>
          <a id="live-stats" data-href="{{ url_for('getUserBookedLive',user_id = current_user.id) }}"href="#">Stats</a>
      </div>
       {% else %}
          {% endif %}
      <button id="verifyInfo" class="dropdown-btn">Complete Profile
          <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
          <a id="complete-profile" href="#">Complete profile</a>
          <a id="request-verification" data-href="{{ url_for('getUserLive',user_id = current_user.id) }}" href="">Request verification</a>
   </div>

      <button id="logout" class="dropdown-btn" ><a  class="p-0 m-0" href="{{ url_for('logout') }}"><span>Logout</span> </a></button>

  {% else %}
    <div class="text-center text-light ">
    <p class="align-self-center">Log in on the "Profile" page</p>
    </div>
    {% endif %}
</div>

       <div id="leftSidenav" class="left-sidenav">
  <a class="closebtn" onclick="closeLeftNav()">&times;</a>
<div class="cart-list p-3">

</div>
</div>
</div>
{% endblock %}

{% block body %}

{% endblock %}
{% block globals %}

        <div class="profile mt-3">

            <div class="row user-profile-info no-gutters">
                <div class="col-2 no-gutters">

                    <div data-href="" class="click-pro-pic user-profile-pic-wrapper">
                        <span><img class="profilepic" src="" alt=""></span>
                    </div>
                </div>
                <div class="col-3 no-gutters text-center">
                    <div id="user-followers"></div>

                    <span>Followers</span>
                </div>
                <div class="col-3 no-gutters text-center">
                    <div id="user-videos"></div>
                    <span>Videos</span>

                </div>
                <div class="col-3 no-gutters text-center">
                    <div id="user-live-sessions">
                    </div>
                    <span>Live Sessions</span>

                </div>

            </div>
            <div id="">
                <div id="user-username"></div>

            </div>

            <div class="profile-btn text-center">
      <span>
           <a id="follow" data-href=""> <button type="button" id="follow-btn" class="fixed-btn">Follow</button></a>
           <a id="unfollow" data-href=""><button type="button" id="unfollow-btn" class="fixed-btn">Unfollow</button></a>

      </span>
                <span>



           <a id="" data-href=""> <button type="button" data-href="" id="book-schedule-btn" class="fixed-btn">Book Schedule</button></a>

     </span>

            </div>
            <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="bio-tab" data-toggle="tab" href="#bio" role="tab" aria-controls="bio"
                       aria-selected="true">BIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contents-tab" data-toggle="tab" href="#contents" role="tab"
                       aria-controls="contents" aria-selected="false">CONTENTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab"
                       aria-controls="reviews" aria-selected="false">REVIEWS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="stats-tab" data-toggle="tab" href="#stats" role="tab" aria-controls="stats"
                       aria-selected="false">STATS</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active p-3" id="bio" role="tabpanel" aria-labelledby="bio-tab">
                    <p>Introduction</p>
                    <span id="user-introduction"></span>
                    <p id="video-description"></p>
                </div>
                <div class="tab-pane fade" id="contents" role="tabpanel" aria-labelledby="contents-tab"></div>
                <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">

                </div>
                <div class="tab-pane fade" id="stats" role="tabpanel" aria-labelledby="stats-tab"></div>
            </div>
        </div>



        <div></div>
        <div class="schedule p-3 text-center">
            <div class="calendar-container text-center">
                <form method="POST" data-href="{{ url_for('getUserSchedule',user_id = current_user.id) }}"
                      id="schedule-form" action="">
                    <input id="csrf-token" type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="submit" class="mt-3 mx-auto fixed-btn schedule-btn text-light">
                </form>

            </div>
            <br>
            <br>
            <br>

        </div>

        <div class="update-schedule p-3 text-center">
            <div class="update-calendar-container">
                <input type="submit" class="fixed-btn update-schedule-btn text-light">
            </div>

        </div>

        <div id="create-course">

            <div class="p-3" id="course-upload">
                <form class="form-upload text-center" id="course" action="" method="POST" enctype="multipart/form-data">

                    <fieldset>
                        {{ form.hidden_tag() }}

                        {{ form.upload_title.label }} <br>
                        {{ form.upload_title(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}

                        <br>

                        {{ form.upload_price.label }} <br>
                        {{ form.upload_price(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}
                        <br><small>Price in RMB</small>
                        <br>

                        {{ form.upload_category.label }} <br>
                        {{ form.upload_category(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}
                        <br>
                        <br>

                        {{ form.upload_description.label }} <br>
                        {{ form.upload_description(class = "description-field input-box-border border border-top-0 border-left-0 border-right-0") }}
                        <br>

                        <div class="form-editor">

                        </div>


                        <div class="">
                            {{ form.upload_fileName.label }}
                            {{ form.upload_fileName() }}<br>
                            <small>Upload an mp4 or mp3 file</small>
                            <br><br>

                            {{ form.upload_coverImage.label }}
                            {{ form.upload_coverImage() }}<br>

                        </div>
                        <br>

                        {{ form.upload_submit(class="fixed-btn text-light") }}

                        <button class="border-btn text-center">Submitting</button>

                    </fieldset>
                </form>
                <br>
                <br>
                <br>
            </div>

            <div class="p-3" id="create-series">
                <card class="card shadow-lg w-100">
                    <card class="">
                        <form id="series-course" class="form-upload text-left" action="" method="POST"
                              enctype="multipart/form-data">
                            <fieldset>
                                {{ seriesForm.hidden_tag() }}

                                <div class="series-div">
                                    {{ seriesForm.series_title.label }}<br>
                                    {{ seriesForm.series_title(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}<br>
                                    {{ seriesForm.series_category.label }}
                                    {{ seriesForm.series_category(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}

                                    <br>
                                    {{ seriesForm.series_price.label }} <small>Price in RMB</small><br>
                                {{ seriesForm.series_price(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}
                                <br>
                                    <div class="wrapper">
                                        <button type="button" class="subtitle">
                                            {{ episodeForm.subtitle.label }}
                                            {{ episodeForm.subtitle(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}

                                        </button>
                                        <div class="content">

                                            {{ episodeForm.fileName.label }}<br>
                                            {{ episodeForm.fileName() }}<br>
                                            <small>Upload mp4 or mp3 file</small>
                                            <br>

                                            {{ seriesForm.series_coverImage.label(class="mt-2") }}<br>
                                            {{ seriesForm.series_coverImage }}<br>
                                                <div class="series-form-editor mt-2">

                                                </div>
                                            {{ episodeForm.description(class = "description-field input-box-border border border-top-0 border-left-0 border-right-0",placeholder="Description") }}

                                        </div>

                                    </div>


                                </div>





                                <br>
                                <div class="text-center">
                                    {{ seriesForm.series_submit(class="fixed-btn  mb-3") }}
                                    <button class="border-btn">Submitting</button>
                                </div>



                            </fieldset>
                        </form>

                    </card>
                </card>

                <br>
                <br>
                <br>
            </div>

            <div class="p-3" id="create-live">

                <form data-href="{{ url_for('getUserLive',user_id = current_user.id) }}" action=""
                      class=" text-center session-form" method="POST">
                    <fieldset>
                        {{ sessionForm.hidden_tag() }}

                        {{ sessionForm.title.label }} <br>
                        {{ sessionForm.title(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}

                        <br>
                        {{ sessionForm.description.label }} <br>
                        {{ sessionForm.description(class = "description-field input-box-border border border-top-0 border-left-0 border-right-0") }}
                        <br>

                        {{ sessionForm.category.label }} <br>
                        {{ sessionForm.category(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}
                        <br>
                        <br>

                        <div class="append-calendar"></div>

                        <br>
                        <br>

                        {{ sessionForm.submit(class="fixed-btn text-light") }}
                    </fieldset>

                </form>

                <br>
                <br>
                <br>
            </div>
        </div>
        <div class="p-3 upload-option">
            <div class="card big-card shadow-lg" id="single-click">
                <div class="card-body text-center">
                    <h6>Single Upload</h6>
                    <h1>&#10010</h1>
                </div>
            </div>
            <div class="mt-4 card big-card shadow-lg" id="series-click">
                <div class="card-body text-center">
                    <h6>Series Upload</h6>
                    <h1>&#10010</h1>
                </div>
            </div>

        </div>


        <div id="course-update" class="p-2">

            <br>
            <br>
            <br>
        </div>

        <div id="live-update" class="p-2">
            <br>
            <br>
            <br>
        </div>


        <div id="edit-live">
            <form action="" class=" text-center " id="update-session-form" method="POST">
                <fieldset>
                    <input type="hidden" name="_METHOD" value="PUT"/>

                    {{ UpdateSession.hidden_tag() }}

                    {{ UpdateSession.update_session_title.label }} <br>
                    {{ UpdateSession.update_session_title(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}

                    <br>
                    {{ UpdateSession.update_session_description.label }} <br>
                    {{ UpdateSession.update_session_description(class = "description-field input-box-border border border-top-0 border-left-0 border-right-0") }}
                    <br>

                    {{ UpdateSession.update_session_category.label }} <br>
                    {{ UpdateSession.update_session_category(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}
                    <br>
                    <br>

                    <div class="append-edit-calendar">

                    </div>
                    <br>

                    {{ UpdateSession.update_session_submit(class="fixed-btn text-light") }}
                </fieldset>

            </form>
            <br>
            <br>
            <br>
        </div>
        <div id="update-schedule">
            <div class="row append-edit-schedule no-gutters">
                <form method="POST" data-href="{{ url_for('getUserSchedule',user_id = current_user.id) }}"
                      id="update-schedule-form" action="">
                    <input type="hidden" name="_METHOD" value="PUT"/>
                    <input id="csrf-token" type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="text-center mt-2">
                        <input type="submit" class="mt-3 mx-auto fixed-btn schedule-btn text-light">
                    <button class="border-btn text-center">Submitting</button>
                    </div>
                </form>

            </div>
            <br>
            <br>
            <br>
        </div>
    <div class="series-stats p-2">

    </div>
    <div class="live-stats p-2">

    </div>
    <div class="booked-schedule p-2">

    </div>
    <div class="booked-live p-2">

    </div>
    <div class="liked-course-list p-2">

    </div>
    <div class="schedule-stats p-2">

    </div>
            <div class="editor-source">
            <div id="editor"></div>
        </div>
        <div class="calendar-source text-center">

            <input id="start-time" type="text" name="date-time" value="" class="time-input">
            <input id="end-time" type="text" name="end-time" value="" class="time-input">
            <div id="calendar"></div>


        </div>

        <div class="schedule-container">
            <div class="row append-schedule no-gutters">

            </div>
        </div>
    <div class="checkout">

        <div class="checkout-img-wrapper">
            <img class="live-img" src="" alt="">

        </div>
        <div class="p-2">
            <h5 id="checkout-title"></h5>
            <h6 class="orangeColor mt-4 mb-4">Payment summary</h6>
            <h6>Payment method</h6>
            <p>Alipay</p>
            <h6 class="mt-3">Total Price</h6>
            <div class="mt-3">
                <span>Original price</span>
                <span class="float-right" id="original-price"></span>
            </div>
            <hr/>
            <div class="mt-4">
                <span>Total</span>
                <span class="float-right total-price"></span>
            </div>
            <div class="mt-5 " style="
    font-size: 11px;
">By completing your purchase you agree to these our Terms of Service
            </div>
            <br>
            <br>
            <br>
        </div>


        <nav class="video-nav" class="shadow-lg">
            <h3  class="navLink total-price"></h3>
            {% if current_user.is_authenticated %}
                <a class="navLink click-pay" data-href="" href="">
                    <button class="common-btn">COMPLETE PAYMENT</button>
                </a>
            {% else %}
                <a class="navLink click-pay-login">
                    <button class="common-btn">COMPLETE PAYMENT</button>
                </a>
            {% endif %}

        </nav>

    </div>
      {% if current_user.can(Permission.MODERATE) %}
<div id="verify-list" class="p-2">

</div>

          {% else %}
                  <div class="">
            <ul class="upload-list">


            </ul>

        </div>
          {% endif %}
{% endblock %}

{% block modal %}
            <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete?.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default yes-btn" data-dismiss="modal">Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                </div>

            </div>
        </div>
        <div id="delete-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete?.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default yes-live-btn" data-dismiss="modal">Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                </div>

            </div>
        </div>
        <div id="delete-schedule-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete?.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default yes-schedule-btn" data-dismiss="modal">Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                </div>

            </div>
        </div>

        <div id="book-schedule" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body append-user-schedule row">

                    </div>

                </div>

            </div>
        </div>
        <div id="bookers-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center">Participants</h4>
                        <small class="text-center">Users who have booked your schedule</small>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body append-bookers row">


                    </div>

                </div>

            </div>
        </div>
        <div id="bookers-live-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-center">Participants</h4>
                        <small class="text-center">Users who have booked your live</small>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body append-live-bookers row">


                    </div>

                </div>

            </div>
        </div>


        <div id="episode-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form id="addEpisode" class="form-upload text-left" action="" method="POST"
                              enctype="multipart/form-data">
                            <fieldset>
                                {{ UpdateEpisode.hidden_tag() }}


                                {{ UpdateEpisode.update_subtitle.label }}

                                {{ UpdateEpisode.update_subtitle(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}


                                {{ UpdateEpisode.update_fileName.label }}<br>
                                {{ UpdateEpisode.update_fileName() }}<br>

                                {{ UpdateEpisode.update_coverImage.label }}<br>
                                {{ UpdateEpisode.update_coverImage() }}<br>

                                {{ UpdateEpisode.update_description(class = "description-field input-box-border border border-top-0 border-left-0 border-right-0",placeholder="Description") }}

                                <br>
                                {{ UpdateEpisode.update_submit }}
                            </fieldset>
                        </form>
                    </div>

                </div>

            </div>
        </div>

        <div id="series-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form course-id="" class="form-upload text-center" id="series-update" action="" method="POST"
                              enctype="multipart/form-data">
                            <fieldset>
                                <input type="hidden" name="_METHOD" value="PUT"/>
                                {{ UpdateSeries.hidden_tag() }}

                                {{ UpdateSeries.update_series_title.label }} <br>
                                {{ UpdateSeries.update_series_title(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}

                                <br>

                                {{ UpdateSeries.update_series_price.label }} <br>
                                {{ UpdateSeries.update_series_price(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}
                                <br>
                                {{ UpdateSeries.update_series_description }}

                                {{ UpdateSeries.update_series_category.label }} <br>
                                {{ UpdateSeries.update_series_category(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}
                                <br>
                                <br>

                                <div class="update-series-editor">

                                </div>


                                <br>
                                {{ UpdateSeries.update_series_submit(class="fixed-btn text-light") }}
                            </fieldset>
                        </form>
                    </div>

                </div>

            </div>
        </div>
{% endblock %}
{% block bottomNav %}
    <div class="share-logos mx-auto text-center p-3  shadow-lg">

                     <div class="fb-share-button"
                        data-href="https://www.100chinaguide.com"
                    data-layout="button_count">

    </div>
    {{ share.create(sites='facebook,wechat,linkedin,google,twitter',mobile_sites='qq,facebook,wechat,linkedin,google,twitter') }}
    </div>
<nav class="bot-nav shadow-lg" >
    <a class="navLink home-icon" href="{{ url_for('home') }}" data-href="{{ url_for('home') }}"><img class="mobile-icon" src="../static/home.svg" alt=""><span class="nav_text">Home</span></a>
    <a class="navLink live"  href="{{ url_for('live') }}"><img class="mobile-icon" src="../static/live.svg" alt=""><span class="nav_text">Live</span></a>
   {% if current_user.is_authenticated %}
    <a class="navLink profile-nav" data-href="{{ url_for('userDetails', username = current_user.username) }}" href="{{ url_for('profilePage' ,username = current_user.username) }}"><img class="mobile-icon" src="../static/profile.svg" alt=""><span class="nav_text">Profile</span></a>
{% else %}
    <a class="navLink profile-nav" href="{{ url_for('profilePage') }}"><img class="mobile-icon" src="../static/profile.svg" alt=""><span class="nav_text">Profile</span></a>
{% endif %}
</nav>

{% endblock %}

{% block script %}


    <script src='../static/packages/core/main.js'></script>
    <script src='../static/packages/daygrid/main.js'></script>
    <script src='../static/packages/timegrid/main.js'></script>
    <script src='../static/packages/interaction/main.js'></script>
    <script src="https://vjs.zencdn.net/7.8.2/video.js"></script>

<script
  src="../static/jquery-3.4.1.js" type="text/javascript"
></script>
<script src="../static/bootstrap/js/bootstrap.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="../static/javascript.js" type="text/javascript"></script>
<script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<script src="https://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
    <script>
    var options = {

  modules: {
    toolbar: [
      [{ header: [1, 2, false] }],
      ['bold', 'italic', 'underline'],
      ['link', 'blockquote','image', 'code-block'],
        [{ list: 'ordered' }, { list: 'bullet' }],
         [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
  [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
  [{ 'direction': 'rtl' }],                         // text direction


  [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
  [{ 'font': [] }],
  [{ 'align': [] }],

    ]
  },
  placeholder: 'Compose...',

  theme: 'snow'
};
var quill = new Quill('#editor', options);

	$('form#series-course').on('submit', function(event) {
        var csrf_token = $('#csrf_token').attr('value');
        var html = quill.root.innerHTML;
    $('#series_description').val( html );
		$.ajax({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
                $('.loader').css('display','block')
                 $('.border-btn').css('display','block')
              $('#series_submit').css('display','none')
            }
        },  enctype: 'multipart/form-data',
			data : new FormData(this),
			type : 'POST',
			url : '/createcourse?status=series',
            processData: false,
            contentType: false,

          error: function(error){

          popover(error,'success')
          },
          complete: function () {
            $('.loader').css('display','none')

          }

		})
		.done(function(data) {

        popover(data,'success')
            pageRedirect('/')
               $('.border-btn').css('display','none')
              $('#series_submit').css('display','block')

		});

		event.preventDefault();

	});

	$('form#course').on('submit', function(event) {
 var csrf_token = $('#csrf_token').attr('value');
   // Populate hidden form on submit
    var html = quill.root.innerHTML;
    $('#upload_description').val( html );


		$.ajax({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
                $('.loader').css('display','block')
                $('.border-btn').css('display','block')
                $('#upload_submit').css('display','none')
            }
        },  enctype: 'multipart/form-data',
			data : new FormData(this),
			type : 'POST',
			url : '/createcourse?status=single',
            processData: false,
            contentType: false,

        error: function (error) {
          popover('Error uploading your File','error')

          },
          complete: function () {
            pageRedirect('/')
            $('.loader').css('display','none')
              $('.border-btn').css('display','none')
              $('#upload_submit').css('display','block')

          },

		})
		.done(function(data) {

        $('.loader').css('display','none')
            popover(data,'success')


		});

		event.preventDefault();

	});
		$('form#series-update').on('submit', function(event) {
      var csrf_token = $('#csrf_token').attr('value');
    var html = quill.root.innerHTML;
    $('#update_series_description').val( html );


		$.ajax({
          beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
            $('.loader').css('display','block')
        },
            enctype: 'multipart/form-data',
			data : new FormData(this),
			type : 'PUT',
			url : '/editSeries?series_id='+$(this).attr('course-id'),
            processData: false,
            contentType: false,


          success: function(response){
          },
          error: function (error) {
          popover('Error uploading your File','error')

          },
          complete: function () {
            $('.loader').css('display','none')

          },


		}).done(function(data) {
		  $('.loader').css('display','none')

        popover(data.result.msg,'success')

		});

		event.preventDefault();

	});

$('#quill-html').val( html );

    </script>

    <script>
        var obj = new WxLogin({
 self_redirect:true,
 id:"login_container",
 appid: "wx67fc65e96be93d6d",
 scope: "snsapi_login",
 redirect_uri: "https%3A%2F%2Fwww.100chinaguide.com%2F",
  state: "",
 style: "",
 href: ""
 });

    </script>

<script src="https://unpkg.com/wavesurfer.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.0/howler.js">

</script>
    <script>
var sound = null;
    var audioSrc = '7ad5a4b99fc5275e.mp3'
    var url = '/static/videos/'+audioSrc+'';
        function playSound(url) {
        //check if sound is null, if not stop previous sound and unload it
        if (sound != null) {
            sound.stop();
            sound.unload();
            sound = null;
            }
        var sound = new Howl({
        src: [url],
        autoplay: false,
        loop: true,
        volume: 0.5,
        onend: function() {
        console.log('Finished!');
        }
        });
        sound.once('load', function(){
        sound.play();
        Howler.autoUnlock = false;
        });
        }

    $('audio').on('click',function () {
        playSound(url)
    })
    </script>
    <script>

    var wavesurfer = WaveSurfer.create({
    container: '#waveform',
    waveColor: 'green ',
    progressColor: 'purple',
    scrollParent: true,
    backgroundColor: 'none'
    });


    </script>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}
</body>
</html>


