{%  extends "base.html" %}

{% block title %}{{ super() }}{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}


{% block background %}

    <body style="background-color: #E2E2E2">
{% endblock %}


{% block nav %}
<div class=" training-jumbotron">
{{ super() }}
    </div>
 <div >
  <div class="hero-text">
    <p>CONSULTANCY.</p>

  </div>
</div>
    {% endblock %}
{% block body %}
    <div class="row ">
        <div class="col-3">
            <ul class="discover-list vertical-line" >
            <li><a href=""style="color: #6C6C6C">CAREER</a></li>
            <li><a href=""style="color: #6C6C6C">VISA</a></li>
            <li><a href=""style="color: #6C6C6C">BUSINESS</a></li>
            <li><a href=""style="color: #6C6C6C">LEGAL</a></li>
            <li><a href=""style="color: #6C6C6C"></a></li>
            </ul>
            <div class="vertical-line"></div>


        </div>
        <p class="session">AVAILABLE SESSIONS</p>
        <br>
        <div >
    {% for posts in all_posts %}

        {% if posts.verified == 1 %}
    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">

    </div>
        <div class="card  shadow-lg  " id="session-card">
            <div class="card-body">
                <p><img src="../static/calendar-check.png" alt="" class="session-card-left">{{ posts.date }}<img src="../static/clock.png" alt="" class="session-card-right">{{ posts.start_time}} - {{ posts.end_time}}</p>
                <div class="text-center description">
                    <h6><b style="text-transform: uppercase">{{ posts.title }}</b></h6>
                    <p style="font-size: 12px;color:gray" class="text-justify text-left ">{{ posts.description }}</p>
                    <button value="JOIN" class="card-btn" id="myBtn" style="color: white">BOOK</button>
                </div>
                {% else %}

            <div >

                </div>
                {% endif %}

            </div>
            </div>
            </div>
        </div>

    {% endfor %}
</div>


{% endblock %}




{% block script %}
{{ super()}}


{% endblock %}
