{%  extends "base.html" %}

{% block title %}DISCOVER{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}


{% block background %}
    <body id="discover-bod" style="background-color: #E2E2E2">
{% endblock %}


{% block nav %}
<div class=" hero-image">
{{ super() }}
</div>
 <div >
  <div class="hero-text">
    <p>DISCOVER.</p>

  </div>
</div>

{% endblock %}
{% block body %}

    <div class="row ">

        <div class="col-2">

            <ul class="discover-list vertical-line" >
                <li><a href=""style="color: #6C6C6C">BUSINESS</a></li>
                <li><a href=""style="color: #6C6C6C">VISA</a></li>
                <li><a href=""style="color: #6C6C6C">TRAVEL</a></li>
                <li><a href=""style="color: #6C6C6C">LIVING</a></li>
                <li><a href=""style="color: #6C6C6C">CAREER</a></li>
                <li><a href=""style="color: #6C6C6C">TECH</a></li>
                <li><a href=""style="color: #6C6C6C"></a></li>

            </ul>

            <div class="vertical-line"></div>


        </div>
        <div class="col-9" id="discover-content">
            <div>

                <p style="font-size: 30px">BUSINESS</p>

                <br>

                <p>Trending</p>

                <div class="video-thumbnail">

                    <div class="">
                        <ul>
                                  <div class="row">
                            {% for  upload in uploads%}
                                <div class="row">
                                <div class="">


                                <card class=" card video-thumb-card" style="margin-left: 50px">
                                    <card class="card-body">

                                        <li><a href="{{ url_for('video',upload_ref=upload.upload_ref) }}"><video width="300" height="200" type="video/mp4" src="../static/videos/discover videos/{{ upload.upload_ref }}" alt=""></video></a></li></li>
                                        <div class="row">
                                        <div class="col-3">
                                            <span style="font-size: 10px"><img src="../static/profile_pics/{{ upload.uploader.image_file }}" alt="" width="40" class="rounded-circle"></span>

                                        </div>
                                        <div class="col-8">
                                         <span>{{ upload.title}}</span><br>
                                        {{ upload.uploader.username}}
                                        {% if upload.price == None %}
                                            <p>Free</p>
                                        {% else %}
                                            <p>{{ upload.price }}</p>
                                        {% endif %}
                                        </div>
                                        </div>

                                    </card>
                                </card>
                                </div>
                                </div>

                            {% endfor %}
                                  </div>
                        </ul>
                    </div>
                    </div>
                </div>



            <br>

            <div>
                <p>Recommended</p>
                <div class="video-thumbnail"></div>

            </div>

        </div>


    </div>




{% endblock %}
