{%  extends "PROBASE.html" %}

{% block title %}{{ super() }}{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}

{% block nav %}
    {{ super() }}
{% endblock %}

{% block body %}

<div class="main">
<div >
 {% if current_user.role == 2 %}

<!-- Trigger/Open The Modal -->
<button id="myBtn" >Open Modal</button>

<!-- The Modal -->






          {% for post in all_posts %}
             {%  if post.verified  == 0 %}
                <card class="card shadow-sm post-card" >
                <card class="card-body">
                    <p>{{ post.title }}</p>
                    <p class="post-category">{{ post.category }}</p>
                    <button id="card-btn" >VIEW</button>
                </card>
                </card>

              {% endif %}
          {% endfor %}



 {%  else %}
<div class="btn-group btn-group-sm text-center ">
  <button type="button" class="btn btn-light">Business</button>
  <button type="button" class="btn btn-light">Career</button>
  <button type="button" class="btn btn-light">Visa</button>
  <button type="button" class="btn btn-light">Living</button>
  <button type="button" class="btn btn-light">Tourism</button>
  <button type="button" class="btn btn-light">Housing</button>

</div>
{% endif %}


</div>

<div class="uploads">
<ul>
    {% for episode in episodes %}
        <p class="upload-username"> {{ episode.sub.username}}</p>
        <p class="upload-username"> subtitle:{{ episode.subtitle}}</p>
    {% endfor %}
{% for  upload in uploads%}
    <card class="card upload-card" >
    <card class="card-body">
        <li><a href="{{ url_for('video',upload_ref=upload.upload_ref) }}"><video width="250" height="200" type="video/mp4" src="../static/videos/{{ upload.upload_ref }}" alt=""></video></a></li></li>
        <p>{{ upload.title}}</p>
        <p class="upload-username">Uploaded by {{ upload.uploader.username}}</p>
        <p class="upload-username">{{ upload.category }}</p>
        {% if upload.price == None %}
        <p>Free</p>
        {% else %}
        <p>{{ upload.price }}</p>
        {% endif %}



    </card>
    </card>

    {% endfor %}
{% endblock %}
</ul>
</div>
</div>
{% block script %}
    {{ super() }}

{% endblock %}
