{%  extends "base.html" %}

{% block title %}{{ super() }}{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}


{% block background %}
    <body id="discover-body" >
{% endblock %}


{% block nav %}
<div class=" hero-image">
{{ super() }}
</div>
 <div >
  <div class="hero-text">
    <p>DISCOVER.</p>

  </div>
</div>

{% endblock %}
{% block body %}

    <div class="row ">

        <div class="col-2">

            <ul class="discover-list vertical-line" >
                <li><a href="" class="discover-list-link">BUSINESS</a></li>
                <li><a href="" class="discover-list-link">VISA</a></li>
                <li><a href="" class="discover-list-link">TRAVEL</a></li>
                <li><a href="" class="discover-list-link">LIVING</a></li>
                <li><a href="" class="discover-list-link">CAREER</a></li>
                <li><a href="" class="discover-list-link">TECH</a></li>
                <li><a href="" class="discover-list-link"></a></li>

            </ul>

            <div class="vertical-line"></div>


        </div>
        <div class="col-9" id="discover-content">
            <div>

                <p class="category-title">BUSINESS</p>

                <br>

                <p>Trending</p>

                <div class="video-thumbnail">

                    <div class="">
                        <ul>
                                  <div class="row">
                            {% for  upload in uploads%}
                                <div class="row">
                                <div class="">


                                <card class=" card video-thumb-card" >
                                    <card class="card-body">

                                        <li><a href="{{ url_for('video',upload_ref=upload.upload_ref) }}"><video width="300" height="200" type="video/mp4" src="../static/videos/{{ upload.upload_ref }}" alt=""></video></a></li></li>
                                        <div class="row">
                                        <div class="col-3">
                                            <div class="profile-thumbnail">
                                                <span><img src="../static/profile_pics/{{ upload.uploader.image_file }}" alt=""  class="user-thumb"></span>
                                            </div>


                                        </div>
                                        <div class="col-8">
                                         <span>{{ upload.title}}</span><br>
                                        {{ upload.uploader.username}}
                                        {% if upload.price == None %}
                                            <p>Free</p>
                                        {% else %}
                                            <p>{{ upload.price }}</p>
                                        {% endif %}
                                        </div>
                                        </div>

                                    </card>
                                </card>
                                </div>
                                </div>

                            {% endfor %}
                                  </div>
                        </ul>
                    </div>
                    </div>
                </div>



            <br>

            <div>
                <p>Recommended</p>
                <div class="video-thumbnail"></div>

            </div>

        </div>


    </div>




{% endblock %}
