{%  extends "base.html" %}

{% block title %}{{ super() }}{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}


{% block background %}
<body class="home">
{% endblock %}


{% block nav %}
    {{ super() }}
{% endblock %}

{% block topNav %}
    {{ super() }}
{% endblock %}

{% block body %}
<div class="home-wrapper">
 <p class="text-center title"  >Why 100ChinaGuide?</p>
    <div class="container">
 <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
       <div class="card shadow-lg">
    <div class="card-body">
            <img src="../static/Group%20277%20-%20Copy.png" alt="" class="d-block mx-auto"><br>
        <p class="home-text-upper">LIVE MANDARIN SESSION STREAMING</p>
        <p class="home-text-lower">Stream live mandarin classes at no cost <br> from anywhere in the world. </p>

    </div>
    </div>
    </div>

    <div class="item">
      <div class="card shadow-lg">
        <div class="card-body">

            <img src="../static/Group%20278%20-%20Copy.png" alt="" class="d-block mx-auto"><br>
    <p class="home-text-upper">LIVE PROFESSIONAL CONSULTANCY</p>
    <p class="home-text-lower">Get access to live consultancy services from certified sources <br> on our platform according to your field of specialization. </p>
    </div>
        </div>
    </div>

    <div class="item">
      <div class="card shadow-lg">
        <div class="card-body">

        <img src="../static/Union%2066%20-%20Copy.png" alt="" class="d-block mx-auto" height="149" width="107"><br>
        <p class="home-text-upper">KNOWLEDGE HUB</p>
        <p class="home-text-lower">Get detailed and accurate information from accredited sources <br>if you plan to come to China or in China.</p>

    </div>

        </div>
    </div>
  </div>
     <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>
</div>
<div class="row text-center" id="home-image-one">
<div class="col-4 text-center">
    <div class="card shadow-lg">
    <div class="card-body">
            <img src="../static/Group%20277%20-%20Copy.png" alt="" class="d-block mx-auto"><br>
        <p class="home-text-upper">LIVE MANDARIN SESSION STREAMING</p>
        <p class="home-text-lower">Stream live mandarin classes at no cost <br> from anywhere in the world. </p>

    </div>
    </div>
    </div>

<div class="col-4 text-center">
    <div class="card shadow-lg">
        <div class="card-body">

            <img src="../static/Group%20278%20-%20Copy.png" alt="" class="d-block mx-auto"><br>
    <p class="home-text-upper">LIVE PROFESSIONAL CONSULTANCY</p>
    <p class="home-text-lower">Get access to live consultancy services from certified sources <br> on our platform according to your field of specialization. </p>
    </div>
        </div>
    </div>

<div class="col-4 text-center">
    <div class="card shadow-lg">
        <div class="card-body">

        <img src="../static/Union%2066%20-%20Copy.png" alt="" class="d-block mx-auto" height="149" width="107"><br>
        <p class="home-text-upper">KNOWLEDGE HUB</p>
        <p class="home-text-lower">Get detailed and accurate information from accredited sources <br>if you plan to come to China or in China.</p>

    </div>

        </div>
    </div>


    </div>

    <div class="row"  id="home-image-two">
    <div class="col-6" >
        <img src="../static/sign%20up%20img.png" alt="" width="850">
    </div>
    <div class="col-4 left-home-text" >
        <p class="upper-text">CONTRIBUTE YOUR  OWN</p>
        <p class="lower-text">Explore unlimited guide uploads that will help you according to your needs.</p>
    </div>

    </div>

    <div class="row"   id="home-image-three">
    <div class="col-5 right-home-text">
        <p class="upper-text-dark">GET UNLIMITED ACCESS TO GUIDES</p>
        <p class="lower-text-dark">Get to upload your own guide uploads for others to benefit from.</p>
    </div>
    <div class="col-6" >
        <img class="laptop" src="../static/LAPTOP.png" alt="" width="700">
    </div>


    </div>
<div class="text-center home-signup" >
<h3 class="bottom-header" ><b>SIGN UP TODAY <br> AND GET STARTED</b></h3>

<button type="button" id="card-btn" href="{{url_for('signup')}}" >SIGN UP</button>

</div>
    <br>
    <br>
    <br>
    <br>
    <br>

<card class="card "  id="footer">
        <card class="card-body" id="footer-body">
            <div class="row">
            <div class="col-3">
                <h6>CONTACT US</h6><br>
                <p class="about-text">+8618994050515</p>
                <p class="about-text">service@100chinaguide.com</p>
            </div>
            <div class="col-3">
                <h6 >CUSTOMER SERVICE</h6><br>
                <p class="about-text">Contact us</p>
                <p class="about-text">FAQ</p>
            </div>
            <div class="col-3">
                <h6>INFORMATION</h6><br>
                <p class="about-text"><a href="">About us</a></p>
                <p class="about-text"><a href="">Privacy Policy</a></p>
                <p class="about-text"><a href="">Terms and Conditions</a></p>
            </div>

            </div>

        </card>
    </card>
</div>

 <div id="main" >

 <div class="">
<ul class="upload-list">






</ul>

</div>

     <div class="video-details">
         <div>
         <div class="thumb-wrapper">
             <li> <video class="video-feed "   preload="none" video-id=""  controls=""   type="video/mp4" src="" alt=""></video></li>
             <li> <img class="course-img" src="" alt=""></li>
             <li>
                 <div id="waveform"></div>
                 <div id="audio-file" audioFile=""></div>
<nav class="btn-row controls" >
    <a class="navLink "  data-href=""><img class="mobile-icon" src="../static/step-backward.svg" alt=""></a>
    <a class="navLink " id="play-btn" ><img class="mobile-icon" src="../static/play.svg" alt=""></a>
    <a class="navLink " id="pause-btn" ><img class="mobile-icon" src="../static/pause.svg" alt=""></a>
    <a class="navLink " href=""><img class="mobile-icon" src="../static/step-forward.svg" alt=""></a>

</nav>

             </li>
         </div>
    <div class="video-info">
 <h6 id="video-title"></h6>
    <div class="row no-gutters">
    <div class="col-2 col-sm-2 col-md-2 no-gutters">
        <div data-href="" class="profile-pic-wrapper click-pro-pic">
            <span><img id="profilepic" alt=""></span>
        </div>
        </div>

    <div class="col no-gutters">
    <div class="inner-info">


        <span id="video-author"></span>
        <span ></span>

        <span class="likes-comments"  class="text-justify text-left " ><span id="video-likes"></span>
            <img   src="../static/heart.png" alt="" width="16">
            <span id="video-comments"></span>
            <img  src="../static/comment.svg" alt="" width="16">
        </span>


                </div>
</div>
</div>
</div>
         <p video-title="" id="video-title"></p>
         <span  id="video-author"></span>
     </div>
         
<nav class="btn-row" >
    <a class="navLink  like-btn" data-href=""><img class="mobile-icon" src="../static/unlike.svg" alt=""><span class="nav_text">Like</span></a>
    <a class="navLink " data-href="" id="unlike-btn"><img class="mobile-icon" src="../static/like.svg" alt=""><span class="nav_text">Unlike</span></a>
    <a class="navLink live"  ><img class="mobile-icon" src="../static/commentGrey.svg" height="20" alt=""><span class="nav_text">Comment</span></a>

</nav>

         <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
             <li class="nav-item">
                 <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">ABOUT</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" video-id="" id="episode-tab" data-toggle="tab" href="#episode" role="tab" aria-controls="episode" aria-selected="false">CONTENTS</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">REVIEWS</a>
             </li>
         </ul>
         <div class="tab-content" id="myTabContent">
             <div class="tab-pane fade show active p-3" id="home" role="tabpanel" aria-labelledby="home-tab">
                 <p>Description</p>
                 <p id="video-description"></p>
             </div>
             <div class="tab-pane fade" id="episode" role="tabpanel" aria-labelledby="episode-tab">



             </div>
             <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab"></div>
         </div>
         <div class="p-3">
             <h6>Related videos</h6>
         </div>

         <div>
             <nav id="video-nav" class="shadow-lg" >
                 <h3 id="video-price" class="navLink"></h3>

                 <a class="navLink addCart" data-href=""><img  class="mobile-icon" src="../static/addCart.svg" alt=""></a>
                 <a class="navLink"><img class="mobile-icon" src="../static/share.svg" alt=""></a>
                 <a class="navLink" id="buy" data-href="" user-id="{{ current_user.id }}"><button class="common-btn">BUY NOW</button></a>
             </nav>
         </div>
     </div>
 <div class="profile">

     <div class="row user-profile-info no-gutters">
                  <div class="col-2 no-gutters">

                  <div data-href="" class="click-pro-pic user-profile-pic-wrapper">
            <span><img id="profilepic" src="" alt=""></span>
        </div>
        </div>
         <div class="col-3 no-gutters text-center">
     <div id="user-followers"></div>

         <span>Followers</span>
             </div>
         <div class="col-3 no-gutters text-center">
     <div id="user-videos"></div>
                      <span>Videos</span>

         </div>
             <div class="col-3 no-gutters text-center">
     <div id="user-live-sessions">
         </div>
                     <span>Live Sessions</span>

     </div>

 </div>
     <div id="">
     <div id="user-username"></div>

     </div>

     <div class="profile-btn text-center">
      <span>
           <a id="follow" data-href=""> <button type="button" id="follow-btn" class="fixed-btn" >Follow</button></a>
           <a id="unfollow" data-href="" ><button type="button" id="unfollow-btn" class="fixed-btn" >Unfollow</button></a>

      </span>
     <span>



           <a id="" data-href=""> <button type="button" data-href="" id="book-schedule-btn" class="fixed-btn" >Book Schedule</button></a>

     </span>

     </div>
         <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
             <li class="nav-item">
                 <a class="nav-link active" id="bio-tab" data-toggle="tab" href="#bio" role="tab" aria-controls="bio" aria-selected="true">BIO</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" id="contents-tab" data-toggle="tab" href="#contents" role="tab" aria-controls="contents" aria-selected="false">CONTENTS</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">REVIEWS</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" id="stats-tab" data-toggle="tab" href="#stats" role="tab" aria-controls="stats" aria-selected="false">STATS</a>
             </li>
         </ul>
         <div class="tab-content" id="myTabContent">
             <div class="tab-pane fade show active p-3" id="bio" role="tabpanel" aria-labelledby="bio-tab">
                 <p>Introduction</p>
                 <p id="video-description"></p>
             </div>
             <div class="tab-pane fade" id="contents" role="tabpanel" aria-labelledby="contents-tab"></div>
             <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab"></div>
             <div class="tab-pane fade" id="stats" role="tabpanel" aria-labelledby="stats-tab"></div>
         </div>
</div>


 <div id="live">
<div class="live-list">

</div>

     <div class="live-details">
            <div class="live-details-img-wrapper">
                <img class="live-img" src="" alt="">

            </div>

        <div class="live-profile-pic-wrapper click-pro-pic"  data-href="">
            <span><a  class="user-profile-pic border-light" href="#"><img id="profilepic"  src="" alt=""></a></span>
        </div>

                     <div class="p-2 row no-gutters">
                <span class="live-info col-8 flex-content flex-column no-gutters">
                                    <span class="live-title"></span>

                    <span class="">Time: <span id="live-startTime"></span> - <span id="live-endTime"></span></span>
                    <span class="">Date: <span id="live-date"></span> </span>
                </span>
                <span class="live-info col-4 flex-content flex-column no-gutters">

                    <button data-href="" id="profile-btn" class="fixed-btn click-pro-pic">Profile</button>
                </span>
            </div>
                  <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
             <li class="nav-item">
                 <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">DESCRIPTION</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" id="host-tab" data-toggle="tab" href="#host" role="tab" aria-controls="host" aria-selected="false">HOST</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" id="schedule-tab" data-toggle="tab" href="#schedule" role="tab" aria-controls="schedule" aria-selected="false">SCHEDULE</a>
             </li>
         </ul>
         <div class="tab-content" id="myTabContent">
             <div class="tab-pane fade show active p-3" id="description" role="tabpanel" aria-labelledby="description-tab">
                 <p>Description</p>
                 <p id="live-description"></p>
             </div>
             <div class="tab-pane fade" id="host" role="tabpanel" aria-labelledby="host-tab"></div>
             <div class="tab-pane fade" id="schedule" role="tabpanel" aria-labelledby="schedule-tab"></div>
         </div>

<div class="p-3">
    <h6>Host videos</h6>
</div>
                  <div>
             <nav id="video-nav" class="shadow-lg" >
                 <h3 id="video-price" class="navLink" href=""></h3>
                 <a class="navLink" href=""><img class="mobile-icon" src="../static/share.svg" alt=""></a>
                 <a id="book" class="navLink click-book" data-href="" href=""><button class="common-btn">BOOK A SEAT</button></a>
                 <a id="unbook" class="navLink click-unbook" data-href="" href=""><button class="common-btn">UNBOOK</button></a>
             </nav>
         </div>
     </div>
     </div>
     <div></div>
<div class="schedule p-3 text-center">
    <div class="calendar-container text-center">
        <form  method="POST" data-href="{{ url_for('getUserSchedule',user_id = current_user.id) }}" id="schedule-form" action="">
            <input id="csrf-token" type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="submit" class="fixed-btn schedule-btn text-light">
        </form>

    </div>

</div>

<div class="update-schedule p-3 text-center">
    <div class="update-calendar-container">
<input type="submit" class="fixed-btn update-schedule-btn text-light">
    </div>

</div>

 <div id="create-course">

     <div class="p-3" id="course-upload">
         <div id="progressBar"></div>
         <form  class="form-upload text-center" id="course" action="" method="POST" enctype="multipart/form-data">
    <fieldset>
        {{ form.hidden_tag() }}

         {{ form.upload_title.label }} <br>
        {{ form.upload_title(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}

    <br>

         {{ form.upload_price.label }} <br>
        {{ form.upload_price(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}
    <br>

             {{ form.upload_category.label }} <br>
        {{ form.upload_category(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}
    <br>
     <br>

                 {{ form.upload_description.label }} <br>
        {{ form.upload_description(class = "description-field input-box-border border border-top-0 border-left-0 border-right-0") }}
    <br>

<div class="form-editor">

</div>


<div class="" >
{{form.upload_fileName.label}}
        {{form.upload_fileName()}}<br><br>
    {{form.upload_coverImage.label}}
        {{form.upload_coverImage()}}<br>

</div>
    <br>
  {{ form.upload_submit(class="fixed-btn text-light") }}
    </fieldset>
</form>

</div>

     <div class="p-3" id="create-series">
         <card class="card shadow-lg" id="create_card" >
    <card class="">
        <form  id="series-course" class="form-upload text-left" action="" method="POST" enctype="multipart/form-data">
    <fieldset>
         {{ seriesForm.hidden_tag() }}

    <div class="series-div">
         {{ seriesForm.series_title.label }}
        {{ seriesForm.series_title(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}
        {{ seriesForm.series_category.label }}
        {{ seriesForm.series_category(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}
<div class="wrapper">
<button  type="button" class="subtitle">
    {{ episodeForm.subtitle.label }}

    {{ episodeForm.subtitle(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}
</button>
<div class="content" >

        {{ episodeForm.fileName.label }}<br>
         {{ episodeForm.fileName() }}<br>

            {{ seriesForm.series_coverImage.label }}<br>
         {{ seriesForm.series_coverImage() }}<br>

        {{ episodeForm.description(class = "description-field input-box-border border border-top-0 border-left-0 border-right-0",placeholder="Description") }}

</div>

</div>


    </div>


         {{ seriesForm.series_price.label }} <br>
        {{ seriesForm.series_price(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}
    <br>



     <br>
    {{ seriesForm.series_submit }}
        </fieldset>
</form>

    </card>
</card>


</div>

     <div class="p-3" id="create-live">
         <card class="card shadow-lg"  >

             <card class="">

                 <form data-href="{{ url_for('getUserLive',user_id = current_user.id) }}" action="" class=" text-center session-form" method="POST">
      <fieldset>
        {{ sessionForm.hidden_tag() }}

         {{ sessionForm.title.label }} <br>
        {{ sessionForm.title(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}

    <br>
         {{ sessionForm.description.label }} <br>
        {{ sessionForm.description(class = "description-field input-box-border border border-top-0 border-left-0 border-right-0") }}
    <br>

             {{ sessionForm.category.label }} <br>
        {{ sessionForm.category(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}
    <br>
     <br>

<div class="append-calendar"></div>

        <br>
        <br>

  {{ sessionForm.submit(class="fixed-btn text-light") }}
    </fieldset>

            </form>

    </card>
</card>
     </div>
 </div>
<div class="p-3 upload-option">
         <div class="card big-card shadow-lg" id="single-click">
             <div class="card-body text-center">
                 <h6>Single Upload</h6>
                 <h1>&#10010</h1>
             </div>
         </div>
         <div class="mt-4 card big-card shadow-lg" id="series-click">
             <div class="card-body text-center">
                 <h6>Series Upload</h6>
                 <h1>&#10010</h1>
             </div>
         </div>

</div>


 <div  id="course-update" class="p-2">


 </div>

 <div id="live-update" class="p-2">

</div>
<div id="user-profile"class="text-center">
     <div class="mx-auto d-block text-center" id="login_container"></div>
    <small class=""><a href="{{ url_for('signIn') }}" id="login-text" class="">Log in </a>another way</small>

</div>

     <div id="edit-live">
  <form action="" class=" text-center session-form" method="POST">
      <fieldset>
        {{ UpdateSession.hidden_tag() }}

         {{ UpdateSession.update_session_title.label }} <br>
        {{ UpdateSession.update_session_title(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}

    <br>
         {{ UpdateSession.update_session_description.label }} <br>
        {{ UpdateSession.update_session_description(class = "description-field input-box-border border border-top-0 border-left-0 border-right-0") }}
    <br>

             {{ UpdateSession.update_session_category.label }} <br>
        {{ UpdateSession.update_session_category(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}
    <br>
     <br>

<div class="append-edit-calendar">

</div>
        <br>

  {{ UpdateSession.update_session_submit(class="fixed-btn text-light") }}
    </fieldset>

            </form>
     </div>
<div id="update-schedule">
         <div class="row append-edit-schedule no-gutters">

     </div>
</div>
 <!-- Trigger the modal with a button -->

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete?.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default yes-btn" data-dismiss="modal">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>

  </div>
</div>

<div id="book-schedule" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body append-schedule row">

      </div>

    </div>

  </div>
</div>


<div id="episode-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form  id="addEpisode" class="form-upload text-left" action="" method="POST" enctype="multipart/form-data">
    <fieldset>
         {{ UpdateEpisode.hidden_tag() }}


    {{ UpdateEpisode.update_subtitle.label }}

    {{ UpdateEpisode.update_subtitle(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}


        {{ UpdateEpisode.update_fileName.label }}<br>
         {{ UpdateEpisode.update_fileName() }}<br>

            {{ UpdateEpisode.update_coverImage.label }}<br>
         {{ UpdateEpisode.update_coverImage() }}<br>

        {{ UpdateEpisode.update_description(class = "description-field input-box-border border border-top-0 border-left-0 border-right-0",placeholder="Description") }}

     <br>
    {{ UpdateEpisode.update_submit }}
        </fieldset>
</form>
      </div>

    </div>

  </div>
</div>

<div id="series-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
         <form  class="form-upload text-center" id="series-update" action="" method="POST" enctype="multipart/form-data">
    <fieldset>
        {{ UpdateSeries.hidden_tag() }}

         {{ UpdateSeries.update_series_title.label }} <br>
        {{ UpdateSeries.update_series_title(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}

    <br>
         {{ UpdateSeries.update_series_description.label }} <br>
        {{ UpdateSeries.update_series_description(class = "description-field input-box-border border border-top-0 border-left-0 border-right-0") }}
    <br>

         {{ UpdateSeries.update_series_price.label }} <br>
        {{ UpdateSeries.update_series_price(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}
    <br>

             {{ UpdateSeries.update_series_category.label }} <br>
        {{ UpdateSeries.update_series_category(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}
    <br>
     <br>

<div class="update-series-editor">

</div>


    <br>
  {{ UpdateSeries.update_series_submit(class="fixed-btn text-light") }}
    </fieldset>
</form>
      </div>

    </div>

  </div>
</div>

 <div class="editor-source">
     <div id="editor"></div>
 </div>
<div class="calendar-source text-center">

            <input id="start-time" type="text" name="date-time" value="" class="time-input">
            <input id="end-time" type="text" name="end-time" value="" class="time-input">
            <div id="calendar"></div>


        </div>

 <div class="schedule-container">
     <div class="row append-schedule no-gutters">

     </div>
 </div>


 </div>

<div class="checkout">

     <div class="checkout-img-wrapper">
         <img class="live-img" src="" alt="">

     </div>
     <div class="p-2">
              <h5 id="checkout-title"></h5>
     <h6 class="orangeColor mt-4 mb-4">Payment summary</h6>
     <h6>Payment method</h6>
     <p>Alipay</p>
     <h6 class="mt-3">Total Price</h6>
     <div class="mt-3">
         <span>Original price</span>
         <span class="float-right" id="original-price"></span>
     </div>
         <hr/>
          <div class="mt-4">
         <span>Total</span>
         <span class="float-right" id="total-price"></span>
     </div>
     <div class="mt-5" style="
    font-size: 11px;
">By completing your purchase you agree to these our Terms of Service</div>
     </div>


     <nav id="video-nav" class="shadow-lg">
                 <h1 id="total-price" class="navLink">99</h1>
                {% if current_user.is_authenticated %}
                 <a  class="navLink click-pay" data-href="" href=""><button class="common-btn">COMPLETE PAYMENT</button></a>
             {% else %}
             <a  class="navLink click-pay-login"><button class="common-btn">COMPLETE PAYMENT</button></a>
         {% endif %}

     </nav>

 </div>
</div>


    </body>
{% endblock %}

{% block bottomNav %}
    {{ super() }}
{% endblock %}

