{% extends "base.html" %}

{% block title %}{{ super() }}{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}


{% block background %}
    <body class="home">
{% endblock %}


{% block nav %}
    {{ super() }}
{% endblock %}

{% block topNav %}
    {{ super() }}
{% endblock %}

{% block body %}
    <div class="home-wrapper">
        <p class="text-center title">Why 100ChinaGuide?</p>
        <div class="container">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="card shadow-lg">
                            <div class="card-body">
                                <img src="../static/Group%20277%20-%20Copy.png" alt="" class="d-block mx-auto"><br>
                                <p class="home-text-upper">LIVE MANDARIN SESSION STREAMING</p>
                                <p class="home-text-lower">Stream live mandarin classes at no cost <br> from anywhere in
                                    the world. </p>

                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card shadow-lg">
                            <div class="card-body">

                                <img src="../static/Group%20278%20-%20Copy.png" alt="" class="d-block mx-auto"><br>
                                <p class="home-text-upper">LIVE PROFESSIONAL CONSULTANCY</p>
                                <p class="home-text-lower">Get access to live consultancy services from certified
                                    sources <br> on our platform according to your field of specialization. </p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card shadow-lg">
                            <div class="card-body">

                                <img src="../static/Union%2066%20-%20Copy.png" alt="" class="d-block mx-auto"
                                     height="149" width="107"><br>
                                <p class="home-text-upper">KNOWLEDGE HUB</p>
                                <p class="home-text-lower">Get detailed and accurate information from accredited sources
                                    <br>if you plan to come to China or in China.</p>

                            </div>

                        </div>
                    </div>
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="row text-center" id="home-image-one">
            <div class="col-4 text-center">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <img src="../static/Group%20277%20-%20Copy.png" alt="" class="d-block mx-auto"><br>
                        <p class="home-text-upper">LIVE MANDARIN SESSION STREAMING</p>
                        <p class="home-text-lower">Stream live mandarin classes at no cost <br> from anywhere in the
                            world. </p>

                    </div>
                </div>
            </div>

            <div class="col-4 text-center">
                <div class="card shadow-lg">
                    <div class="card-body">

                        <img src="../static/Group%20278%20-%20Copy.png" alt="" class="d-block mx-auto"><br>
                        <p class="home-text-upper">LIVE PROFESSIONAL CONSULTANCY</p>
                        <p class="home-text-lower">Get access to live consultancy services from certified sources <br>
                            on our platform according to your field of specialization. </p>
                    </div>
                </div>
            </div>

            <div class="col-4 text-center">
                <div class="card shadow-lg">
                    <div class="card-body">

                        <img src="../static/Union%2066%20-%20Copy.png" alt="" class="d-block mx-auto" height="149"
                             width="107"><br>
                        <p class="home-text-upper">KNOWLEDGE HUB</p>
                        <p class="home-text-lower">Get detailed and accurate information from accredited sources <br>if
                            you plan to come to China or in China.</p>

                    </div>

                </div>
            </div>


        </div>

        <div class="row" id="home-image-two">
            <div class="col-6">
                <img src="../static/sign%20up%20img.png" alt="" width="850">
            </div>
            <div class="col-4 left-home-text">
                <p class="upper-text">CONTRIBUTE YOUR OWN</p>
                <p class="lower-text">Explore unlimited guide uploads that will help you according to your needs.</p>
            </div>

        </div>

        <div class="row" id="home-image-three">
            <div class="col-5 right-home-text">
                <p class="upper-text-dark">GET UNLIMITED ACCESS TO GUIDES</p>
                <p class="lower-text-dark">Get to upload your own guide uploads for others to benefit from.</p>
            </div>
            <div class="col-6">
                <img class="laptop" src="../static/LAPTOP.png" alt="" width="700">
            </div>


        </div>
        <div class="text-center home-signup">
            <h3 class="bottom-header"><b>SIGN UP TODAY <br> AND GET STARTED</b></h3>

            <button type="button" id="card-btn" href="{{ url_for('signup') }}">SIGN UP</button>

        </div>
        <br>
        <br>
        <br>
        <br>
        <br>

        <card class="card " id="footer">
            <card class="card-body" id="footer-body">
                <div class="row">
                    <div class="col-3">
                        <h6>CONTACT US</h6><br>
                        <p class="about-text">+8618994050515</p>
                        <p class="about-text">service@100chinaguide.com</p>
                    </div>
                    <div class="col-3">
                        <h6>CUSTOMER SERVICE</h6><br>
                        <p class="about-text">Contact us</p>
                        <p class="about-text">FAQ</p>
                    </div>
                    <div class="col-3">
                        <h6>INFORMATION</h6><br>
                        <p class="about-text"><a href="">About us</a></p>
                        <p class="about-text"><a href="">Privacy Policy</a></p>
                        <p class="about-text"><a href="">Terms and Conditions</a></p>
                    </div>

                </div>

            </card>
        </card>
    </div>

    <div id="main">
    <li class="test"></li>
    <div id="currentUser" username="{{ current_user.username }}" propic="{{ current_user.image_file }}" ></div>

        {% if current_user.is_authenticated %}
            <span class="uId" user-Id="{{ current_user.id }}"></span>
        {% else %}
            <span></span>
        {% endif %}
        <!-- Load Facebook SDK for JavaScript -->
        <div id="fb-root"></div>
        <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>





        <!-- Trigger the modal with a button -->

      {% if current_user.can(Permission.MODERATE) and   current_user.role.name == 'Moderator'  %}
          <div class="p-3 approve-card">
            <div class="card big-card shadow-lg" id="single-click">
                <div class="card-body text-center">
                    <h1></h1>
                    <h6>Approved</h6>

                </div>
            </div>
            <div class="mt-4 card big-card shadow-lg" id="series-click">
                <div class="card-body text-center align-items-center">

                    <h1>{{approvedVideos}}</h1>
                    <h6>Pending</h6>
                </div>
            </div>

        </div>
<div id="verify-list" class="p-2">

</div>

          {% else %}
                  <div class="">
            <ul class="upload-list">


            </ul>

        </div>
          {% endif %}


    </div>



    </div>


    </body>




{% endblock %}

{% block bottomNav %}
    {{ super() }}
{% endblock %}

