{%  extends "PROBASE.html" %}

{% block title %}{{ super() }}{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}

{% block nav %}
    {{ super() }}
{% endblock %}

{% block body %}

    <div class="main">
        <div class="session-container">
            <div id="overview">
            <div class="info-card-wrapper  text-center">
                <card class="card info-card shadow-sm">
                    <card class="card-body">
                        <p></p>
                    </card>
                </card>
                <card class="card info-card shadow-sm">
                    <card class="card-body">
                        <p></p>
                    </card>
                </card>
                <card class="card info-card shadow-sm">
                    <card class="card-body">
                        <p></p>
                    </card>
                </card>


            </div>
                <div >
                    <div class="schedule-wrapper">
                    <card class="card schedule-card">
                        <card class="card-body">
                            <h3>Select a date where you are available for consultation</h3>
                        </card>
                    </card>
                </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block mobileNav %}
    {{ super() }}
{% endblock %}


{% block script %}
    {{ super() }}

{% endblock %}
tml>