{% extends "base.html" %}

{% block title %}{{ super() }}{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}


{% block background %}
    <body class="home">
{% endblock %}


{% block nav %}
    {{ super() }}
{% endblock %}

{% block topNav %}
    {{ super() }}
{% endblock %}

{% block body %}

    <div id="main">
    <div id="currentUser" username="{{ current_user.username }}" propic="{{ current_user.image_file }}" ></div>

        {% if current_user.is_authenticated %}
            <span class="uId" user-Id="{{ current_user.id }}"></span>
        {% else %}
            <span></span>
        {% endif %}
        <!-- Load Facebook SDK for JavaScript -->
        <div id="fb-root"></div>
        <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>





            <div class="live-list p-2">


        </div>

{% block globals %}
    {{ super() }}
{% endblock %}
        <!-- Trigger the modal with a button -->

        <!-- Modal -->
{% block modal %}
    {{ super() }}
{% endblock %}

        <div class="editor-source">
            <div id="editor"></div>
        </div>
        <div class="calendar-source text-center">

            <input id="start-time" type="text" name="date-time" value="" class="time-input">
            <input id="end-time" type="text" name="end-time" value="" class="time-input">
            <div id="calendar"></div>


        </div>

        <div class="schedule-container">
            <div class="row append-schedule no-gutters">

            </div>
        </div>
    <div class="checkout">

        <div class="checkout-img-wrapper">
            <img class="live-img" src="" alt="">

        </div>
        <div class="p-2">
            <h5 id="checkout-title"></h5>
            <h6 class="orangeColor mt-4 mb-4">Payment summary</h6>
            <h6>Payment method</h6>
            <p>Alipay</p>
            <h6 class="mt-3">Total Price</h6>
            <div class="mt-3">
                <span>Original price</span>
                <span class="float-right" id="original-price"></span>
            </div>
            <hr/>
            <div class="mt-4">
                <span>Total</span>
                <span class="float-right total-price"></span>
            </div>
            <div class="mt-5 " style="
    font-size: 11px;
">By completing your purchase you agree to these our Terms of Service
            </div>
            <br>
            <br>
            <br>
        </div>


        <nav class="video-nav" class="shadow-lg">
            <h3  class="navLink total-price"></h3>
            {% if current_user.is_authenticated %}
                <a class="navLink click-pay" data-href="" href="">
                    <button class="common-btn">COMPLETE PAYMENT</button>
                </a>
            {% else %}
                <a class="navLink click-pay-login">
                    <button class="common-btn">COMPLETE PAYMENT</button>
                </a>
            {% endif %}

        </nav>

    </div>
    </div>
    </div>


    </div>


    </body>




{% endblock %}

{% block bottomNav %}
    {{ super() }}
{% endblock %}

