{% extends "base.html" %}

{% block title %}{{ super() }}{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}


{% block background %}
    <body class="">
{% endblock %}


{% block nav %}
    {{ super() }}
{% endblock %}

{% block topNav %}
    {{ super() }}
{% endblock %}

{% block body %}

    <div id="main">
    <div id="currentUser" username="{{ current_user.username }}" propic="{{ current_user.image_file }}" ></div>

        {% if current_user.is_authenticated %}
            <span class="uId" user-Id="{{ current_user.id }}"></span>
        {% else %}
            <span></span>
        {% endif %}
        <!-- Load Facebook SDK for JavaScript -->
        <div id="fb-root"></div>
        <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>





            <div class="live-list p-2">


        </div>


        <!-- Trigger the modal with a button -->

        <!-- Modal -->



    </div>






    </body>




{% endblock %}

{% block bottomNav %}
    {{ super() }}
{% endblock %}

