{%  extends "base.html" %}

{% block title %}{{ super() }}{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}


{% block background %}
    <body class="signup">
{% endblock %}


{% block nav %}
    {{ super() }}
{% endblock %}

{% block body %}
    <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-7">
         <h1 class="sign-up-text"><b>Get access to a variety of guides <br>on the Discover page</b></h1>
     <div class="signup-img">
        <img src="../static/sign%20up%20img.png" alt="" width="900">
    </div>

    </div>
   <div class="col-lg-4 col-md-4 col-sm-4">
       <card class="card shadow-lg" id="login-card">
    <card class="card-body text-center">
        <img src="../static/sign%20up%20avatar.png" alt="" width="130">
    <form id="signup-form" action="{{ url_for('login') }}" method="POST">

        <fieldset>
         {{ form.hidden_tag() }}
        {{ form.username.label }}
         {% if form.username.errors %}
        {{ form.username(class = "signup-input is-invalid") }}
            {% for error in form.username.errors %}
                <br>
                <span class="errors">{{ error }}</span>
                <br>
                {% endfor %}
        {% else %}
                {{ form.username(class = "signup-input") }}
            {% endif %}


        {{ form.password.label }}
         {% if form.password.errors %}
        {{ form.username(class = "signup-input is-invalid") }}
            {% for error in form.password.errors %}
                <br>
                <span class="errors">{{ error }}</span>
                <br>
                {% endfor %}
        {% else %}
                {{ form.password(class = "signup-input") }}
            {% endif %}


            <div>

            </div>
        <div class="login-text">
            <br>
            <br>
                   <p ><input type="radio">Remember me</p>

        </div>
        {{ form.submit(id = "signup-btn") }}
        </fieldset>
    </form>
        <br>

    <span><a href="#" >Forgot password?</a></span>
    </card>
    </card>
   </div>

    </div>

{% endblock %}
