<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static',filename='stylesheet.css') }}">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.typekit.net/inv5iwl.css">
    <link href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet'>
<link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet' />
    <link href='../static/packages/core/main.css' rel='stylesheet' />
    <link href='../static/packages/daygrid/main.css' rel='stylesheet' />
    <link href='../static/packages/timegrid/main.css' rel='stylesheet' />
    <link href='../static/packages/interaction/main.js' rel='script' />
    <link href='../static/packages/bootstrap/main.css' rel='stylesheet' />

<title>{% block title %}100CHINAGUIDE{% endblock %}</title>{% endblock %}
</head>
<body style="background-color: #DCDCDC;">
{% block nav %}


<div  class="sidenav" >
<div class="dropdown">
  <button type="button"  data-toggle="dropdown" style="background: transparent;border-style: none">
        <img id="burgermenu" src="../static/burger%20menu.png" role="button" alt="" >
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Home</a>
    <a class="dropdown-item" href="#">Courses</a>
    <a class="dropdown-item" href="{{ url_for('verify',username = current_user.username) }}">Verify account <div id="circle" size="10"></div></a>
    <a class="dropdown-item" href="#">Logout</a>
  </div>
</div>
    <div>
            <div class="card" id="set">
                <div class="card-body">
                    <ul class="flex-column">
                        <li id="burgermenu-text">HOME</li>
                        <li id="burgermenu-text">COURSES</li>
                        <li id="burgermenu-text">VERIFY ACCOUNT</li>
                        <li id="burgermenu-text">HELP</li>
                        <li id="burgermenu-text"><a href="/LOGOUT">LOG OUT</a></li>
                    </ul>
                </div>
            </div>
        </div>




    <div class="profile-pic-wrapper text-center">
        <img id="profilepic" src="{{ image_file }}" alt="" class=" mx-auto d-block profilepic shadow-lg" >
    </div>
    <div class="text-center info-text">
             <p id="profilename"  >{{ current_user.username }}</p>
        {% if current_user.role == 1 %}
        {% else %}

      <p style="font-size: 13px">{{ user.followers.count() }} subscribers</p>
    {% endif %}
</div>


    {%  if current_user.role == 2 %}
        <div class="side-nav-menu">
            <a href="{{ url_for('user_profile', username = current_user.username) }}" style="color: white"><img class="icon" src="../static/sessions-w.png" alt="">ASSIGN</a>
            <a href="{{ url_for('dashboard', username = current_user.username) }}" style="color: white"><img class="icon" src="../static/dashboard.png" alt="">DASHBOARD</a>
            <a href="{{ url_for('verify', username = current_user.username) }}" style="color: white"><img class="icon" src="../static/discover-w.png" alt="">VERIFY</a>

            <a href="" style="color: white;padding: 0px"><img class="icon" src="../static/badge.png" alt="">MANAGE</a>

            <div id="botrnav" style="padding: 0px">
                <a href="{{ url_for('settings', username = current_user.username) }}" style="color: white"><img class="icon" src="../static/SETTINGS.png" alt="" style="color: white">SETTINGS</a>
                <br>
                <a href="{{ url_for('logout') }}" style="color: white"><img class="icon" src="../static/logout.png" alt="">LOGOUT</a>
            </div>
        </div>

            {% elif  current_user.role == 1 and current_user.sub_role == 0 %}
        <div class="side-nav-menu" style="margin-left: 55px">
        <a href="{{ url_for('session_admin', id = user.id) }}" style="color: white"><img class="icon" src="../static/sessions-w.png" alt="">SESSIONS</a>
        <div id="botrnav" style="padding: 0px">
            <a href="{{ url_for('settings',username= current_user.username) }}" style="color: white"><img class="icon" src="../static/SETTINGS.png" alt="" style="color: white">SETTINGS</a>
            <br>
            <a href="{{ url_for('logout') }}" style="color: white"><img class="icon" src="../static/logout.png" alt="">LOGOUT</a>
        </div>


    {% elif  current_user.role == 1 and current_user.sub_role == 1 %}
        <div class="side-nav-menu" style="margin-left: 55px">
        <a href="{{ url_for('video_admin', id = current_user.id) }}" style="color: white"><img class="icon" src="../static/sessions-w.png" alt="">UPLOADED VIDEOS</a>
        <a href="{{ url_for('video_admin_dashboard') }}" style="color: white"><img class="icon" src="../static/dashboard.png" alt="">DASHBOARD</a>
        <div id="botrnav" style="padding: 0px">
            <a href="{{ url_for('settings',username= current_user.username) }}" style="color: white"><img class="icon" src="../static/SETTINGS.png" alt="" style="color: white">SETTINGS</a>
            <br>
            <a href="{{ url_for('logout') }}" style="color: white"><img class="icon" src="../static/logout.png" alt="">LOGOUT</a>
        </div>


            {% elif  current_user.role == 1 and current_user.sub_role == 2 %}
            <div class="side-nav-menu" style="margin-left: 55px">

            <a href="{{ url_for('user_profile', username = current_user.username) }}" style="color: white"><img class="icon" src="../static/sessions-w.png" alt="">INFORMATION</a>
            <a href="{{ url_for('dashboard', username = current_user.username) }}" style="color: white"><img class="icon" src="../static/dashboard.png" alt="">DASHBOARD</a>



                <div id="botrnav" style="padding: 0px">
                    <a href="{{ url_for('settings',username= current_user.username) }}" style="color: white"><img class="icon" src="../static/SETTINGS.png" alt="" style="color: white">SETTINGS</a>
                    <br>
                    <a href="{{ url_for('logout') }}" style="color: white"><img class="icon" src="../static/logout.png" alt="">LOGOUT</a>
                </div>

            {% elif  current_user.role == 1 and current_user.sub_role == 3 %}
    <div class="side-nav-menu" style="margin-left: 55px">

            <a href="{{ url_for('user_profile', username = current_user.username ) }}" style="color: white"><img class="icon" src="../static/sessions-w.png" alt="">PAYMENT</a>
                <div id="botrnav" style="padding: 0px">
                    <a href="{{ url_for('settings',username= current_user.username) }}" style="color: white"><img class="icon" src="../static/SETTINGS.png" alt="" style="color: white">SETTINGS</a>
                    <br>
                    <a href="{{ url_for('logout') }}" style="color: white"><img class="icon" src="../static/logout.png" alt="">LOGOUT</a>
                </div>

            {% elif current_user.role == 1 and current_user.sub_role == 4 %}
    <div class="side-nav-menu" style="margin-left: 55px">

            <a href="{{ url_for('user_profile', username = current_user.username) }}" style="color: white"><img class="icon" src="../static/sessions-w.png" alt="">PAYMENT</a>
            <a href="{{ url_for('dashboard', username = current_user.username) }}" style="color: white"><img class="icon" src="../static/dashboard.png" alt="">DASHBOARD</a>




                <div id="botrnav" style="padding: 0px">
                    <a href="{{ url_for('settings',username= current_user.username) }}" style="color: white"><img class="icon" src="../static/SETTINGS.png" alt="" style="color: white">SETTINGS</a>
                    <br>
                    <a href="{{ url_for('logout') }}" style="color: white"><img class="icon" src="../static/logout.png" alt="">LOGOUT</a>
                </div>
    {% else %}
                <div class="side-nav-menu">
            <a href="{{ url_for('user_profile', username = current_user.username) }}" style="color: white"><img class="icon" src="../static/sessions-w.png" alt="">SESSIONS</a>
            <a href="{{ url_for('dashboard', username = current_user.username) }}" style="color: white"><img class="icon" src="../static/dashboard.png" alt="">DASHBOARD</a>
            <a href="{{ url_for('discover', username = current_user.username) }}" style="color: white"><img class="icon" src="../static/discover-w.png" alt="">DISCOVER</a>
            <a href="{{ url_for('upload', username = current_user.username) }}" style="color: white"><img class="icon" src="../static/uploads-w.png" alt="">UPLOAD</a>


            <div id="botrnav" style="padding: 0px">
                <a href="{{ url_for('settings', username = current_user.username) }}" style="color: white"><img class="icon" src="../static/SETTINGS.png" alt="" style="color: white">SETTINGS</a>
                <br>
                <a href="{{ url_for('logout') }}" style="color: white"><img class="icon" src="../static/logout.png" alt="">LOGOUT</a>
            </div>
        </div>

    {% endif %}
    </div>
</div>


 <div class="dropdown " style="padding: 0px;margin-top: 0px">
  <button type="button"  data-toggle="dropdown" style="background: transparent;border-style: none;width: 20px;height: 22px;margin-left: 1440px">
        <img class="notification" id="notification" src="../static/bell.png" role="button" alt="" style="width: 20px;height: 22px;padding: 0px">
  </button>
  <div class="dropdown-menu dropdown-menu-left fade shadow-sm border-0" style="margin-top: 6px;width: 260px;transform: translate3d(1200px, 22px, 0px)">


            {% for posts in all_posts %}
               {% if posts.verified == 1 and posts == followed_posts %}
            <div style="padding: 8px">

                    <p><b style="text-transform: uppercase;font-size: 14px">{{ posts.title }}</b> session has been created by {{ posts.user_id }}</p>
            </div>

               {% else %}
               {% endif %}
            {% endfor %}
  </div>

  </div>


{% endblock %}

{% block body %}

{% endblock %}

{% block mobileNav %}
<div class="mobile-nav ">
    <ul class="mobile-nav-list">
        <li class="mobile-nav-link d-block text-center"><img class="mobile-icon" src="../static/session-m.png" alt=""><a href="{{ url_for('user_profile', username = current_user.username) }}">Sessions</a></li>
        <li class="mobile-nav-link d-block text-center"><img class="mobile-icon" src="../static/dashboard-m.png" alt=""><a href="{{ url_for('dashboard', username = current_user.username) }}" >Dashboard</a></li>
        <li class="mobile-nav-link d-block text-center"><img class="mobile-icon" src="../static/discover-m.png" alt=""><a href="{{ url_for('discover', username = current_user.username) }}" >Discover</a></li>
        <li class="mobile-nav-link d-block text-center"><img class="mobile-icon" src="../static/uploads-m.png" alt=""><a href="{{ url_for('upload', username = current_user.username) }}" >Uploads</a></li>
        <li class="mobile-nav-link d-block text-center"><img class="mobile-icon" src="../static/settings-m.png" alt=""><a href="{{ url_for('settings', username = current_user.username) }}">Settings</a></li>
    </ul>
</div>
</div>
{% endblock %}




{% block script %}
    <script src='../static/packages/core/main.js'></script>
    <script src='../static/packages/daygrid/main.js'></script>
    <script src='../static/packages/timegrid/main.js'></script>
    <script src='../static/packages/interaction/main.js'></script>

<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script src="../static/bootstrap/js/bootstrap.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="../static/javascript.js" type="text/javascript"></script>

    {% endblock %}


</body>
</html>