{% extends "base.html" %}

{% block title %}{{ super() }}{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}


{% block background %}
    <body class="home">
{% endblock %}


{% block nav %}
    {{ super() }}
{% endblock %}

{% block topNav %}
    {{ super() }}
{% endblock %}

{% block body %}

    <div id="main">
    <div id="currentUser" username="{{ current_user.username }}" propic="{{ current_user.image_file }}" ></div>

        {% if current_user.is_authenticated %}
            <span class="uId" user-Id="{{ current_user.id }}"></span>
        {% else %}
            <span></span>
        {% endif %}
        <!-- Load Facebook SDK for JavaScript -->
        <div id="fb-root"></div>
        <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>









        <div></div>

            {% if current_user.is_authenticated %}

                <div class="my-profile mt-3 ">
                    <div class="row user-profile-info no-gutters">
                        <div class="col-2 no-gutters">

                            <div data-href="" class=" user-profile-pic-wrapper">
                                <span><img id="my-proPic" class="profilepic" src="" alt=""></span>
                            </div>
                        </div>
                        <div class="col-3 no-gutters text-center">
                            <div id="my-followers"></div>

                            <span>Followers</span>
                        </div>
                        <div class="col-3 no-gutters text-center">
                            <div id="my-videos"></div>
                            <span>Videos</span>

                        </div>
                        <div class="col-3 no-gutters text-center">
                            <div id="my-live-sessions">
                            </div>
                            <span>Live Sessions</span>

                        </div>
                    </div>

                    <div class="mt-1 p-3">
                        <div id="my-username"></div>

                    </div>

                    <div class="profile-btn text-center">

                        <span>



           <a data-href="{{ url_for('updateInfo') }}" id="edit-profile"><button type="button" class="fixed-btn">Edit Profile</button></a>

     </span>

                    </div>
                    <ul class="nav nav-tabs nav-fill" id="myProfileTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="my-bio-tab" data-toggle="tab" href="#my-bio" role="tab"
                               aria-controls="bio" aria-selected="true">BIO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="my-contents-tab" data-toggle="tab" href="#my-contents" role="tab"
                               aria-controls="contents" aria-selected="false">CONTENTS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="my-reviews-tab" data-toggle="tab" href="#my-reviews" role="tab"
                               aria-controls="reviews" aria-selected="false">REVIEWS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="my-stats-tab" data-toggle="tab" href="#my-stats" role="tab"
                               aria-controls="stats" aria-selected="false">STATS</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myProfileTab">
                        <div class="tab-pane fade show active p-3" id="my-bio" role="tabpanel"
                             aria-labelledby="bio-tab">
                            <p>Introduction</p>
                            <div class="user-intro">
                                <form data-href="{{ url_for('updateInfo') }}" action="" class="text-center  user-form"
                                      method="POST" enctype="multipart/form-data">
                                    <fieldset>
                                        {{ userForm.hidden_tag() }}
                                        {{ userForm.introduction( placeholder="Write your introduction here",class = "form-style  border border-top-0 border-left-0 border-right-0") }}
                                        <br>

                                        {{ userForm.fullname.label }} <br>
                                         {{ userForm.fullname(class = "form-style  border border-top-0 border-left-0 border-right-0") }}
                                        <br>
                                        <br>
                                        {{ userForm.username.label }} <br>
                                        {{ userForm.username(class = "form-style  border border-top-0 border-left-0 border-right-0") }}
                                        <br>
                                        <br>
                                        {{ userForm.status.label }} <br>
                                        {{ userForm.status(class =  "form-style  border border-top-0 border-left-0 border-right-0") }}
                                        <br>
                                        <small>What is your speciality?</small>
                                        <br>
                                        <br>
                                        {{ userForm.email.label }} <br>
                                        {{ userForm.email(class = " form-style  border border-top-0 border-left-0 border-right-0") }}
                                        <br>
                                        <br>
                                        {{ userForm.password.label }} <br>
                                        {{ userForm.password(class = "form-style   border border-top-0 border-left-0 border-right-0") }}
                                        <br>
                                        <br>
                                        {{ userForm.introVideo.label }} <br>
                                        {{ userForm.introVideo(class = "  border border-top-0 border-left-0 border-right-0") }}
                                        <br>
                                        <br>
                                        {{ userForm.pic.label }} <br>
                                        {{ userForm.pic(class = "form-style   border border-top-0 border-left-0 border-right-0") }}
                                        <br>
                                        <br>


                                        {{ userForm.submit(class="fixed-btn text-light text-center") }}
                                    </fieldset>
                                </form>
                            </div>
                            <span id="my-introduction"></span>
                            <p id="video-description"></p>
                        </div>
                        <div class="tab-pane fade" id="my-contents" role="tabpanel"
                             aria-labelledby="contents-tab"></div>
                        <div class="tab-pane fade" id="my-reviews" role="tabpanel" aria-labelledby="reviews-tab"></div>
                        <div class="tab-pane fade" id="my-stats" role="tabpanel" aria-labelledby="stats-tab"></div>
                    </div>
                    <br>
                    <br>
                    <br>
                </div>
            {% else %}
                <div class="mx-auto d-block text-center" id="login_container">


                </div>
                <div class="text-center">
                    <small class=""><a href="{{ url_for('signIn') }}" id="login-text" class="">Log in </a>another
                    way</small><br>
                    <small class=""><a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx5f367d7de40c6054&redirect_uri=https://www.100chinaguide.com&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect" id="login-text" class="">Log in </a>via wechat</small>
                </div>


            {% endif %}

{% block modal %}
    {{ super() }}
{% endblock %}

            </div>


{% block globals %}
    {% endblock %}



    </body>




{% endblock %}

{% block bottomNav %}
    {{ super() }}
{% endblock %}

