{% extends "base.html" %}

{% block title %}{{ super() }}{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}


{% block background %}
    <body class="home">
{% endblock %}


{% block nav %}
    {{ super() }}
{% endblock %}

{% block topNav %}
    {{ super() }}
{% endblock %}

{% block body %}

    <div id="main">
    <div id="currentUser" username="{{ current_user.username }}" propic="{{ current_user.image_file }}" ></div>

        {% if current_user.is_authenticated %}
            <span class="uId" user-Id="{{ current_user.id }}"></span>
        {% else %}
            <span></span>
        {% endif %}
        <!-- Load Facebook SDK for JavaScript -->
        <div id="fb-root"></div>
        <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>









        <div></div>

            {% if current_user.is_authenticated %}

                <div class="my-profile mt-3 ">
                    <div class="row user-profile-info no-gutters">
                        <div class="col-2 no-gutters">

                            <div data-href="" class=" user-profile-pic-wrapper">
                                <span><img id="my-proPic" class="profilepic" src="" alt=""></span>
                            </div>
                        </div>
                        <div class="col-3 no-gutters text-center">
                            <div id="my-followers"></div>

                            <span>Followers</span>
                        </div>
                        <div class="col-3 no-gutters text-center">
                            <div id="my-videos"></div>
                            <span>Videos</span>

                        </div>
                        <div class="col-3 no-gutters text-center">
                            <div id="my-live-sessions">
                            </div>
                            <span>Live Sessions</span>

                        </div>
                    </div>

                    <div class="mt-1 p-3">
                        <div id="my-username"></div>

                    </div>

                    <div class="profile-btn text-center">

                        <span>



           <a data-href="{{ url_for('updateInfo') }}" id="edit-profile"><button type="button" class="fixed-btn">Edit Profile</button></a>

     </span>

                    </div>
                    <ul class="nav nav-tabs nav-fill" id="myProfileTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="my-bio-tab" data-toggle="tab" href="#my-bio" role="tab"
                               aria-controls="bio" aria-selected="true">BIO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="my-contents-tab" data-toggle="tab" href="#my-contents" role="tab"
                               aria-controls="contents" aria-selected="false">CONTENTS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="my-reviews-tab" data-toggle="tab" href="#my-reviews" role="tab"
                               aria-controls="reviews" aria-selected="false">REVIEWS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="my-stats-tab" data-toggle="tab" href="#my-stats" role="tab"
                               aria-controls="stats" aria-selected="false">STATS</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myProfileTab">
                        <div class="tab-pane fade show active p-3" id="my-bio" role="tabpanel"
                             aria-labelledby="bio-tab">
                            <p>Introduction</p>
                            <div class="user-intro">
                                <form data-href="{{ url_for('updateInfo') }}" action="" class="text-center  user-form"
                                      method="POST" enctype="multipart/form-data">
                                    <fieldset>
                                        {{ userForm.hidden_tag() }}
                                        {{ userForm.introduction( placeholder="Write your introduction here",class = "form-style  border border-top-0 border-left-0 border-right-0") }}
                                        <br>

                                        {{ userForm.fullname.label }} <br>
                                         {{ userForm.fullname(class = "form-style  border border-top-0 border-left-0 border-right-0") }}
                                        <br>
                                        <br>
                                        {{ userForm.username.label }} <br>
                                        {{ userForm.username(class = "form-style  border border-top-0 border-left-0 border-right-0") }}
                                        <br>
                                        <br>
                                        {{ userForm.status.label }} <br>
                                        {{ userForm.status(class =  "form-style  border border-top-0 border-left-0 border-right-0") }}
                                        <br>
                                        <small>What is your speciality?</small>
                                        <br>
                                        <br>
                                        {{ userForm.email.label }} <br>
                                        {{ userForm.email(class = " form-style  border border-top-0 border-left-0 border-right-0") }}
                                        <br>
                                        <br>
                                        {{ userForm.password.label }} <br>
                                        {{ userForm.password(class = "form-style   border border-top-0 border-left-0 border-right-0") }}
                                        <br>
                                        <br>
                                        {{ userForm.introVideo.label }} <br>
                                        {{ userForm.introVideo(class = "  border border-top-0 border-left-0 border-right-0") }}
                                        <br>
                                        <br>
                                        {{ userForm.pic.label }} <br>
                                        {{ userForm.pic(class = "form-style   border border-top-0 border-left-0 border-right-0") }}
                                        <br>
                                        <br>


                                        {{ userForm.submit(class="fixed-btn text-light text-center") }}
                                    </fieldset>
                                </form>
                            </div>
                            <span id="my-introduction"></span>
                            <p id="video-description"></p>
                        </div>
                        <div class="tab-pane fade" id="my-contents" role="tabpanel"
                             aria-labelledby="contents-tab"></div>
                        <div class="tab-pane fade" id="my-reviews" role="tabpanel" aria-labelledby="reviews-tab"></div>
                        <div class="tab-pane fade" id="my-stats" role="tabpanel" aria-labelledby="stats-tab"></div>
                    </div>
                    <br>
                    <br>
                    <br>
                </div>
            {% else %}
                <div class="mx-auto d-block text-center" id="login_container">


                </div>
                <div class="text-center">
                    <small class=""><a href="{{ url_for('signIn') }}" id="login-text" class="">Log in </a>another
                    way</small>
                </div>


            {% endif %}
        <div class="schedule p-3 text-center">
            <div class="calendar-container text-center">
                <form method="POST" data-href="{{ url_for('getUserSchedule',user_id = current_user.id) }}"
                      id="schedule-form" action="">
                    <input id="csrf-token" type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="submit" class="mt-3 mx-auto fixed-btn schedule-btn text-light">
                </form>

            </div>
            <br>
            <br>
            <br>

        </div>

        <div class="update-schedule p-3 text-center">
            <div class="update-calendar-container">
                <input type="submit" class="fixed-btn update-schedule-btn text-light">
            </div>

        </div>

        <div id="create-course">

            <div class="p-3" id="course-upload">
                <form class="form-upload text-center" id="course" action="" method="POST" enctype="multipart/form-data">

                    <fieldset>
                        {{ form.hidden_tag() }}

                        {{ form.upload_title.label }} <br>
                        {{ form.upload_title(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}

                        <br>

                        {{ form.upload_price.label }} <br>
                        {{ form.upload_price(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}
                        <br><small>Price in RMB</small>
                        <br>

                        {{ form.upload_category.label }} <br>
                        {{ form.upload_category(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}
                        <br>
                        <br>

                        {{ form.upload_description.label }} <br>
                        {{ form.upload_description(class = "description-field input-box-border border border-top-0 border-left-0 border-right-0") }}
                        <br>

                        <div class="form-editor">

                        </div>


                        <div class="">
                            {{ form.upload_fileName.label }}
                            {{ form.upload_fileName() }}<br>
                            <small>Upload an mp4 or mp3 file</small>
                            <br><br>

                            {{ form.upload_coverImage.label }}
                            {{ form.upload_coverImage() }}<br>

                        </div>
                        <br>
                        {{ form.upload_submit(class="fixed-btn text-light") }}
                    </fieldset>
                </form>
                <br>
                <br>
                <br>
            </div>

            <div class="p-3" id="create-series">
                <card class="card shadow-lg w-100">
                    <card class="">
                        <form id="series-course" class="form-upload text-left" action="" method="POST"
                              enctype="multipart/form-data">
                            <fieldset>
                                {{ seriesForm.hidden_tag() }}

                                <div class="series-div">
                                    {{ seriesForm.series_title.label }}<br>
                                    {{ seriesForm.series_title(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}<br>
                                    {{ seriesForm.series_category.label }}
                                    {{ seriesForm.series_category(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}

                                    <br>
                                    {{ seriesForm.series_price.label }} <small>Price in RMB</small><br>
                                {{ seriesForm.series_price(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}
                                <br>
                                    <div class="wrapper">
                                        <button type="button" class="subtitle">
                                            {{ episodeForm.subtitle.label }}
                                            {{ episodeForm.subtitle(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}

                                        </button>
                                        <div class="content">

                                            {{ episodeForm.fileName.label }}<br>
                                            {{ episodeForm.fileName() }}<br>
                                            <small>Upload mp4 or mp3 file</small>
                                            <br>

                                            {{ seriesForm.series_coverImage.label(class="mt-2") }}<br>
                                            {{ seriesForm.series_coverImage }}<br>
                                                <div class="series-form-editor mt-2">

                                                </div>
                                            {{ episodeForm.description(class = "description-field input-box-border border border-top-0 border-left-0 border-right-0",placeholder="Description") }}

                                        </div>

                                    </div>


                                </div>





                                <br>
                                <div class="text-center">
                                    {{ seriesForm.series_submit(class="fixed-btn  mb-3") }}
                                </div>

                            </fieldset>
                        </form>

                    </card>
                </card>

                <br>
                <br>
                <br>
            </div>

            <div class="p-3" id="create-live">

                <form data-href="{{ url_for('getUserLive',user_id = current_user.id) }}" action=""
                      class=" text-center session-form" method="POST">
                    <fieldset>
                        {{ sessionForm.hidden_tag() }}

                        {{ sessionForm.title.label }} <br>
                        {{ sessionForm.title(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}

                        <br>
                        {{ sessionForm.description.label }} <br>
                        {{ sessionForm.description(class = "description-field input-box-border border border-top-0 border-left-0 border-right-0") }}
                        <br>

                        {{ sessionForm.category.label }} <br>
                        {{ sessionForm.category(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}
                        <br>
                        <br>

                        <div class="append-calendar"></div>

                        <br>
                        <br>

                        {{ sessionForm.submit(class="fixed-btn text-light") }}
                    </fieldset>

                </form>

                <br>
                <br>
                <br>
            </div>
        </div>
        <div class="p-3 upload-option">
            <div class="card big-card shadow-lg" id="single-click">
                <div class="card-body text-center">
                    <h6>Single Upload</h6>
                    <h1>&#10010</h1>
                </div>
            </div>
            <div class="mt-4 card big-card shadow-lg" id="series-click">
                <div class="card-body text-center">
                    <h6>Series Upload</h6>
                    <h1>&#10010</h1>
                </div>
            </div>

        </div>


        <div id="course-update" class="p-2">

            <br>
            <br>
            <br>
        </div>

        <div id="live-update" class="p-2">
            <br>
            <br>
            <br>
        </div>


        <div id="edit-live">
            <form action="" class=" text-center " id="update-session-form" method="POST">
                <fieldset>
                    <input type="hidden" name="_METHOD" value="PUT"/>

                    {{ UpdateSession.hidden_tag() }}

                    {{ UpdateSession.update_session_title.label }} <br>
                    {{ UpdateSession.update_session_title(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}

                    <br>
                    {{ UpdateSession.update_session_description.label }} <br>
                    {{ UpdateSession.update_session_description(class = "description-field input-box-border border border-top-0 border-left-0 border-right-0") }}
                    <br>

                    {{ UpdateSession.update_session_category.label }} <br>
                    {{ UpdateSession.update_session_category(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}
                    <br>
                    <br>

                    <div class="append-edit-calendar">

                    </div>
                    <br>

                    {{ UpdateSession.update_session_submit(class="fixed-btn text-light") }}
                </fieldset>

            </form>
            <br>
            <br>
            <br>
        </div>
        <div id="update-schedule">
            <div class="row append-edit-schedule no-gutters">
                <form method="POST" data-href="{{ url_for('getUserSchedule',user_id = current_user.id) }}"
                      id="update-schedule-form" action="">
                    <input type="hidden" name="_METHOD" value="PUT"/>
                    <input id="csrf-token" type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="text-center mt-2"><input type="submit" class="mt-3 mx-auto fixed-btn schedule-btn text-light"></div>
                </form>

            </div>
            <br>
            <br>
            <br>
        </div>
    <div class="series-stats p-2">

    </div>
    <div class="live-stats p-2">

    </div>
    <div class="booked-schedule p-2">

    </div>
    <div class="booked-live p-2">

    </div>
    <div class="schedule-stats p-2">

    </div>
        <!-- Trigger the modal with a button -->

        <!-- Modal -->
{% block modal %}
    {{ super() }}
{% endblock %}
        <div class="editor-source">
            <div id="editor"></div>
        </div>
        <div class="calendar-source text-center">

            <input id="start-time" type="text" name="date-time" value="" class="time-input">
            <input id="end-time" type="text" name="end-time" value="" class="time-input">
            <div id="calendar"></div>


        </div>

        <div class="schedule-container">
            <div class="row append-schedule no-gutters">

            </div>
        </div>
    <div class="liked-course-list"></div>

        <!-- Trigger the modal with a button -->

        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete?.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default yes-btn" data-dismiss="modal">Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                </div>

            </div>
        </div>

        <div id="book-schedule" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body append-user-schedule row">

                    </div>

                </div>

            </div>
        </div>





        <div class="schedule-container">
            <div class="row append-schedule no-gutters">

            </div>
            </div>
            </div>


{% block globals %}
    {% endblock %}



    </body>




{% endblock %}

{% block bottomNav %}
    {{ super() }}
{% endblock %}

