{%  extends "BASE.html" %}

{% block title %}LOGIN{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}


{% block background %}
    <body class="signup">
{% endblock %}


{% block nav %}
    {{ super() }}
{% endblock %}

{% block body %}
    <div class="row">
    <div class="col-7">
         <h1 class="sign-up-text"><b>Forgot your password? <br>Enter your email to reset</b></h1>
     <div class="signup-img">
        <img src="../static/sign%20up%20img.png" alt="" width="900">
    </div>

    </div>
   <div class="col-4">
       <card class="card shadow-lg" id="login-card">
    <card class="card-body text-center">
        <img src="../static/sign%20up%20avatar.png" alt="" width="130">
    <form id="signup-form" action="{{ url_for('login') }}" method="POST">

        <fieldset>



        {{ form.password.label }}<br>
         {% if form.password.errors %}
        {{ form.password(class = "signup-input is-invalid") }}
            {% for error in form.password.errors %}
                <br>
                <span class="errors">{{ error }}</span>
                <br>
                {% endfor %}
        {% else %}
                {{ form.password(class = "signup-input") }}
            {% endif %}

         {{ form.password.label }}<br>
         {% if form.confirm_password.errors %}
        {{ form.confirm_password(class = "signup-input is-invalid") }}
            {% for error in form.confirm_password.errors %}
                <br>
                <span class="errors">{{ error }}</span>
                <br>
                {% endfor %}
        {% else %}
                {{ form.confirm_password(class = "signup-input") }}
            {% endif %}

            <br>
            <br>

        {{ form.submit(id = "signup-btn") }}
        </fieldset>
    </form>
        <br>
        <br>

    <span><a href="{{ url_for('login') }}" style="">Log in</a></span>
    </card>
    </card>
   </div>

    </div>

{% endblock %}
