{%  extends "PROBASE.html" %}

{% block title %}{{ super() }}{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}

{% block nav %}
<div  class="sidenav-u" >
    <div class="dropdown">
  <button type="button"  data-toggle="dropdown" style="background: transparent;border-style: none">
        <img id="burgermenu" src="../static/burger%20menu.png" role="button" alt="" >
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Home</a>
    <a class="dropdown-item" href="#">Courses</a>
    <a class="dropdown-item" href="{{ url_for('verify',username = current_user.username) }}">Verify account <div id="circle" size="10"></div></a>
    <a class="dropdown-item" href="#">Logout</a>
  </div>
</div>



        <div  >
            <div class="card" id="set">
                <div class="card-body">
                    <ul class="flex-column">
                        <li id="burgermenu-text">HOME</li>
                        <li id="burgermenu-text">COURSES</li>
                        <li id="burgermenu-text">VERIFY ACCOUNT</li>
                        <li id="burgermenu-text">HELP</li>
                        <li id="burgermenu-text"><a href="/LOGOUT">LOG OUT</a></li>
                    </ul>
                </div>
            </div>
        </div>

    {%  if current_user.role == 2 %}
<div class="text-center">
    <a href="{{ url_for('users.user_profile',username = current_user.username) }}"><img id="top-icon-u" style="margin-top: 60px" class="icon-u" src="../static/sessions-w.svg" alt=""></a>
            <a href="{{ url_for('dashboard', username=current_user.username ) }}" style="color: white"><img class="icon-u" src="../static/dash-w.svg" alt=""></a>
            <a href="{{ url_for('discover', username=current_user.username ) }}" style="color: white"><img class="icon-u" src="../static/disc-w.svg" alt=""></a>


                <a href="{{ url_for('settings', username=current_user.username ) }}" style="color: white;padding: 0px"><img class="icon-u" src="../static/badge.png" alt=""></a>

                <div id="botrnav" style="padding: 0px">
                    <a href="{{ url_for('settings', username=current_user.username ) }}" style="color: white"><img class="icon-u" src="../static/settings-w.svg" alt="" style="color: white"></a>
                    <br>
                    <a href="{{ url_for('logout') }}" style="color: white"><img class="icon-u" src="../static/logoutw.svg" alt=""></a>
                </div>
</div>
    {% else %}
<div class="text-center">

            <a href="{{ url_for('user_profile',username = current_user.username) }}" style="color: white"><img id="top-icon-u" class="icon-u" src="../static/sessions-w.svg" alt=""></a>
            <a href="{{ url_for('dashboard', username=current_user.username ) }}" style="color: white"><img class="icon-u" src="../static/dash-w.svg" alt=""></a>
            <a href="{{ url_for('discover', username=current_user.username ) }}" style="color: white"><img class="icon-u" src="../static/disc-w.svg" alt=""></a>
            <a href="{{ url_for('upload', username=current_user.username,id=seriesIdNum ) }}" style="color: white"><img class="icon-u" src="../static/uploads-w.svg" alt=""></a>



                <div id="botrnav" style="padding: 0px">
                    <a href="{{ url_for('settings', username=current_user.username ) }}" style="color: white"><img class="icon-u" src="../static/settings-w.svg" alt="" style="color: white"></a>
                    <br>
                    <a href="{{ url_for('logout') }}" style="color: white"><img class="icon-u" src="../static/logoutw.svg" alt=""></a>
                </div>
    {% endif %}
    </div>
</div>

{% endblock %}

{% block body %}
<div class="main-u">

<div class="row">
    <div class="col-8">

             <form class="text-center signup-form" method="post" action="" style="margin-top: 10px"><input class="search" type="search">

        </form>

        <div style="margin-left: 40px">
            <h3 class="video-text">{{ video.sub.title }}</h3>
        <video-js videoId="{{ videoId }}" videoRef="{{ videoRef }}"class="video-js video-page vjs-big-play-centered" data-setup='{}' controls preload="none">
          <source src="../static/videos/{{ video.upload_ref }}" type="video/mp4">
        </video-js>

        <h5 class="video-text">{{ video.subtitle }}</h5>


            <div class="row">
                <div class="col-4">
            <img src="../static/profile_pics/{{ video.user_episode.image_file}}" class="rounded-circle  profilepic shadow-lg" width="50" height="50" alt="" style="margin-top: 15px;margin-bottom: 15px;margin-right: 10px">{{ video.user_episode.username}}

                </div>
                <div class="col-8">
                <div class="row like-wrapper">

                </div>



                    <button style="margin-left: 510px" id="card-btn" value="FOLLOW" >FOLLOW</button>
                </div>
                </div>

        <div class="">
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'session-tab')">Description</button>
  <button class="tablinks" onclick="openCity(event, 'Paris')">Comments</button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo')">Uploader</button>
</div>

</div>


<!-- Tab content -->
<div id="session-tab" class="tabcontent">

</div>



<div id="Paris" class="tabcontent">
<ul>

</ul>

</div>

<div id="Tokyo" class="tabcontent">

</div>
</div>
</div>
        <div class="col-4">

        <ul><div class="video-list">

            <li style="padding: 0px;margin: 0px">
                {% for episode in episodes %}

                <card class="card video-card" >
                <card class="card-body video-text-list">
                    <div class="row">
                        <div class="col-6">
                    <a href="{{ url_for('series',seriesid=episode.sub.id,upload_ref=episode.upload_ref,id=episode.id) }}"><video width="160" height="100" src="../static/videos/{{ episode.upload_ref }}" alt=""></video></a>
                        </div>
                        <div class="col">
                    <div >{{ episode.subtitle }}</div><br>

                    <div>{{ episode.uploader }}</div>
                        </div>
                    </div>
                </card>
            </card>
                {% endfor %}
            </li>
              </div>

        </ul>
    </div>

    </div>
    </div>


    </div>

</div>


</div>

{% endblock %}

{% block script %}
    {{ super() }}
{% endblock %}