{%  extends "base.html" %}

{% block title %}{{ super() }}{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}


{% block background %}
    <body class="signup">
{% endblock %}


{% block nav %}
    {{ super() }}
{% endblock %}

{% block body %}
    <div class="home-wrapper">
    <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-7">
         <h1 class="sign-up-text" style="font-family: Josefin Sans, sans-serif"><b>Get access to a variety of guides <br>on the Discover page</b></h1>
     <div class="signup-img">
        <img src="../static/sign%20up%20img.png" alt="" width="900">
    </div>

    </div>
   <div class="col-lg-4 col-md-4 col-sm-4">
           <card class="card shadow-lg" id="signup-card">
    <card class="card-body text-center">
        <img src="../static/sign%20up%20avatar.png" alt="" width="130">
    <form id="signup-form" action="{{ url_for('signup') }}" method="POST">
    {{ form.hidden_tag() }}
        <fieldset>
         {% if form.email.errors %}
        {{ form.email(class = "signup-input is-invalid",placeholder="Email") }}
            {% for error in form.email.errors %}
                <br>
                <span class="errors">{{ error }}</span>
                <br>
                {% endfor %}
        {% else %}
                {{ form.email(class = "signup-input",placeholder="Email") }}
            {% endif %}

         {% if form.username.errors %}
        {{ form.username(class = "signup-input is-invalid",placeholder="Username") }}
            {% for error in form.username.errors %}
                <br>
                <span class="errors">{{ error }}</span>
                <br>
                {% endfor %}
        {% else %}
                {{ form.username(class = "signup-input",placeholder="Username") }}
                <span style="font-size: 10px">Minimum of 4 characters with no whitespace</span>
            {% endif %}



         {% if form.password.errors %}
        {{ form.password(class = "signup-input is-invalid",placeholder="Password") }}
            {% for error in form.password.errors %}
                <br>
                <span class="errors">{{ error }}</span>
                <br>
                {% endfor %}
        {% else %}
                {{ form.password(class = "signup-input",placeholder="Password") }}
         <span style="font-size: 10px">Minimum of 6 characters</span>
         {% endif %}

         {% if form.confirm_password.errors %}
        {{ form.confirm_password(class = "signup-input is-invalid",placeholder="Password") }}
            {% for error in form.confirm_password.errors %}
                <br>
                <span class="errors">{{ error }}</span>
                <br>
                {% endfor %}
        {% else %}
                {{ form.confirm_password(class = "signup-input",placeholder="Confirm Password") }}

            {% endif %}

            <br>
            <br>


       <p class="form-rules"> <input type="radio" >By clicking Agree & Join, you agree to the 100chinaguide User Agreement, Privacy Policy, and Cookie Policy.</p>

        {{ form.submit(id = "signup-long-btn") }}
        </fieldset>
    </form>
    </card>
    </card>

   </div>

    </div>
    </div>


{% endblock %}
