{%  extends "PROBASE.html" %}

{% block title %}{{ super() }}{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}


{% block nav %}
    {{ super() }}
{% endblock %}

{% block body %}
<div class="main">
<div class="session-container">
<card class="card shadow-lg" id="create_card" style="height: 500px">
    <card class="card-body">

<form  class="form-upload text-left" action="" method="POST" enctype="multipart/form-data">
    <div class="series-div">
         {{ seriesForm.title.label }}
        {{ seriesForm.title(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}
        {{ seriesForm.category.label }}
        {{ seriesForm.category(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}
<div class="wrapper">
<button type="button" class="collapsible">{{ episodeForm.subtitle.label }}{{ episodeForm.subtitle(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}</button>
<div class="content" >

        <span>Upload Video:</span><input style="margin-top: 20px" type="file" name="file"><br>
        {{ episodeForm.description(class = "description-field input-box-border border border-top-0 border-left-0 border-right-0",placeholder="Description") }}

</div>
</div>

    </div>


         {{ seriesForm.price.label }} <br>
        {{ seriesForm.price(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}
    <br>



     <br>
    {{ seriesForm.submit }}
</form>
<button class="btn-add">ADD</button>
    </card>
</card>



</div>
</div>


{% endblock %}

{% block script %}
    {{ super() }}

{% endblock %}