{%  extends "PROBASE.html" %}

{% block title %}{{ super() }}{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}


{% block nav %}
    {{ super() }}
{% endblock %}

{% block body %}
<div class="main">
<div class="session-container">
<card class="card shadow-lg" id="create_card" style="height: 500px">
    <card class="card-body">

<form  class="form-upload text-left" action="" method="POST" enctype="multipart/form-data">
    <div class="series-div">
         {{ form.title.label }}
        {{ form.title(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}
        {{ form.category.label }}
        {{ form.category(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}


<button type="button" class="collapsible">{{ form.title.label }}{{ form.title(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}</button>
<div class="content">

        <span>Upload Video:</span><input style="margin-top: 20px" type="file" name="file"><br>
        {{ form.description(class = "description-field input-box-border border border-top-0 border-left-0 border-right-0",placeholder="Description") }}

</div>
    </div>


         {{ form.price.label }} <br>
        {{ form.price(class = "input-box-border border border-top-0 border-left-0 border-right-0") }}
    <br>



     <br>
    {{ form.submit }}
</form>

    </card>
</card>



</div>
</div>


{% endblock %}

{% block script %}
    {{ super() }}

{% endblock %}