{%  extends "PROBASE.html" %}

{% block title %}{{ super() }}{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}


{% block nav %}
    {{ super() }}
{% endblock %}

{% block body %}
<div class="main">
<div class="session-container">
<card class="card shadow-lg" id="create_card" >
    <card class="card-body">
        <div class="flex-content">
        <a href="{{ url_for('quickupload', username = current_user.username) }}" style="color: white">
        <div class="square-wrapper text-center">
        <p >Single Upload</p>
        </div>
        </a>

        <a id="available" href="{{ url_for('series_upload', username = current_user.username , id=seriesIdNum) }}" style="color: white">
        <div class="square-wrapper text-center">
        <p >Series Upload</p>
        </div>
        </a>
        </div>

    </card>
</card>



</div>
</div>


{% endblock %}

{% block script %}
    {{ super() }}

{% endblock %}