{% extends "base.html" %}

{% block title %}{{ super() }}{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}


{% block background %}
    <body class="home">
{% endblock %}


{% block nav %}
    {{ super() }}
{% endblock %}

{% block topNav %}
    {{ super() }}
{% endblock %}

{% block body %}

    <div id="main">
    <div id="currentUser" username="{{ current_user.username }}" propic="{{ current_user.image_file }}" ></div>

        {% if current_user.is_authenticated %}
            <span class="uId" user-Id="{{ current_user.id }}"></span>
        {% else %}
            <span></span>
        {% endif %}
        <!-- Load Facebook SDK for JavaScript -->
        <div id="fb-root"></div>
        <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>







        <div class="video-details">
            <div>
                <div class="thumb-wrapper ">
                    <li>
                        <video class="video-feed " autoplay  preload="auto" video-id="" controls="" type="video/mp4" src=""
                               alt=""></video>
                    </li>
                    <li><img class="course-img" src="" alt=""></li>
                    <li>
                        <div id="waveform"></div>
                        <div id="audio-file" audioFile=""></div>


                        <nav id="controls" class="btn-row ">
                            <a class="navLink " data-href=""><img class="mobile-icon" src="../static/step-backward.svg"
                                                                  alt=""></a>
                            <a class="navLink " id="play-btn"><img class="mobile-icon" src="../static/play.svg" alt=""></a>
                            <a class="navLink " id="pause-btn"><img class="mobile-icon" src="../static/pause.svg"
                                                                    alt=""></a>
                            <a class="navLink " href=""><img class="mobile-icon" src="../static/step-forward.svg"
                                                             alt=""></a>

                        </nav>

                    </li>
                </div>
                <div class="video-info">
                    <h6 id="video-title"></h6>
                    <small id="episode-subtitle"></small>
                    <div class="row no-gutters">
                        <div class="col-2 col-sm-2 col-md-2 no-gutters">
                            <div data-href="" class="profile-pic-wrapper click-pro-pic">
                                <span><img class="profilepic" alt=""></span>
                            </div>
                        </div>

                        <div class="col no-gutters">
                            <div class="inner-info">


                                <span id="video-author"></span>
                                <span></span>

                                <span class="likes-comments" class="text-justify text-left "><span
                                        id="video-likes"></span>
            <img src="../static/heart.png" alt="" width="16">
            <span id="video-comments"></span>
            <img src="../static/comment.svg" alt="" width="16">
        </span>


                            </div>
                        </div>
                    </div>
                </div>
                <p video-title="" id="video-title"></p>
                <span id="video-author"></span>
            </div>

            <nav class="btn-row">
                <a class="navLink  like-btn" data-href=""><img class="mobile-icon" src="../static/unlike.svg"
                                                               alt=""><span class="nav_text">Like</span></a>
                <a class="navLink " data-href="" id="unlike-btn"><img class="mobile-icon" src="../static/like.svg"
                                                                      alt=""><span class="nav_text">Unlike</span></a>
                <a class="navLink comment"><img class="mobile-icon" src="../static/commentGrey.svg" height="20"
                                             alt=""><span class="nav_text">Comment</span></a>

            </nav>

            <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                       aria-controls="home" aria-selected="true">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" video-id="" id="episode-tab" data-toggle="tab" href="#episode" role="tab"
                       aria-controls="episode" aria-selected="false">CONTENTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="comments-tab" data-toggle="tab" href="#comments" role="tab"
                       aria-controls="comments" aria-selected="false">REVIEWS</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active p-3" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <p>Summary</p>
                    <p id="video-description"></p>

                    <p>Episode Summary</p>
                    <p id="episode-description"></p>
                </div>
                <div class="tab-pane fade" id="episode" role="tabpanel" aria-labelledby="episode-tab">


                </div>
                <div class="tab-pane fade p-3" id="comments" role="tabpanel" aria-labelledby="comments-tab">
                <div id="user-reviews"></div>
                </div>
            <div class="p-3">
                <h6>Related videos</h6>

            </div>
            <br>
            <br>
            <br>

            <div>
                <nav id="comment-nav" class="shadow-lg video-nav">
                        <span class="text-center p-2 w-100 align-self-center" data-href="">
                        <form action="" data-href="" id="comment-form"><fieldset>
                            {{ commentForm.hidden_tag() }}
                            {{ commentForm.content(class="comment-input",placeholder='Comment...') }}
                            {{ commentForm.submit(class="comment-btn") }}

                        </fieldset>
                        </form></span>
                </nav>
                <nav id="video-bot-nav"class="shadow-lg video-nav">
                    <h3 id="video-price" class="navLink"></h3>


                    <a class="navLink addCart" data-href=""><img class="mobile-icon" src="../static/addCart.svg" alt=""></a>
                    <a class="navLink removeCart" data-href=""><img class="mobile-icon" src="../static/addCartGreen.svg" alt=""></a>
                    <a class="navLink share-btn"><img class="mobile-icon" src="../static/share.svg" alt=""></a>
                    <a class="navLink buy"  data-href="" user-id="{{ current_user.id }}">
                        <button class="common-btn">BUY NOW</button>
                    </a>
                </nav>
            </div>
        </div>
        </div>

        <div></div>



        <!-- Trigger the modal with a button -->

{% block modal %}
    {{ super() }}
{% endblock %}


        <div class="schedule-container">
            <div class="row append-schedule no-gutters">

            </div>
            </div>
    <div class="checkout">

        <div class="checkout-img-wrapper">
            <img class="live-img" src="" alt="">

        </div>
        <div class="p-2">
            <h5 id="checkout-title"></h5>
            <h6 class="orangeColor mt-4 mb-4">Payment summary</h6>
            <h6>Payment method</h6>
            <p>Alipay</p>
            <h6 class="mt-3">Total Price</h6>
            <div class="mt-3">
                <span>Original price</span>
                <span class="float-right" id="original-price"></span>
            </div>
            <hr/>
            <div class="mt-4">
                <span>Total</span>
                <span class="float-right total-price"></span>
            </div>
            <div class="mt-5 " style="
    font-size: 11px;
">By completing your purchase you agree to these our Terms of Service
            </div>
            <br>
            <br>
            <br>
        </div>


        <nav class="video-nav" class="shadow-lg">
            <h3  class="navLink total-price"></h3>
            {% if current_user.is_authenticated %}
                <a class="navLink click-pay" data-href="" href="">
                    <button class="common-btn">COMPLETE PAYMENT</button>
                </a>
            {% else %}
                <a class="navLink click-pay-login">
                    <button class="common-btn">COMPLETE PAYMENT</button>
                </a>
            {% endif %}

        </nav>

    </div>
            </div>






    </body>




{% endblock %}

{% block bottomNav %}
    {{ super() }}
{% endblock %}

