{% extends "base.html" %}

{% block title %}{{ super() }}{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}


{% block background %}
    <body class="home">
{% endblock %}


{% block nav %}
    {{ super() }}
{% endblock %}

{% block topNav %}
    {{ super() }}
{% endblock %}

{% block body %}

    <div id="main">
    <div id="currentUser" username="{{ current_user.username }}" propic="{{ current_user.image_file }}" ></div>

        {% if current_user.is_authenticated %}
            <span class="uId" user-Id="{{ current_user.id }}"></span>
        {% else %}
            <span></span>
        {% endif %}
        <!-- Load Facebook SDK for JavaScript -->
        <div id="fb-root"></div>
        <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>







        <div class="video-details">
            <div>
                <div class="thumb-wrapper ">
                    <li>
                        <video class="video-feed " autoplay  preload="auto" video-id="" controls="" type="video/mp4" src=""
                               alt=""></video>
                    </li>
                    <li><img class="course-img" src="" alt=""></li>
                    <li>
                        <div id="waveform"></div>
                        <div id="audio-file" audioFile=""></div>


                        <nav id="controls" class="btn-row ">
                            <a class="navLink " data-href=""><img class="mobile-icon" src="../static/step-backward.svg"
                                                                  alt=""></a>
                            <a class="navLink " id="play-btn"><img class="mobile-icon" src="../static/play.svg" alt=""></a>
                            <a class="navLink " id="pause-btn"><img class="mobile-icon" src="../static/pause.svg"
                                                                    alt=""></a>
                            <a class="navLink " href=""><img class="mobile-icon" src="../static/step-forward.svg"
                                                             alt=""></a>

                        </nav>

                    </li>
                </div>
                <div class="video-info">
                    <h6 id="video-title"></h6>
                    <small id="episode-subtitle"></small>
                    <div class="row no-gutters">
                        <div class="col-2 col-sm-2 col-md-2 no-gutters">
                            <div data-href="" class="profile-pic-wrapper click-pro-pic">
                                <span><img class="profilepic" alt=""></span>
                            </div>
                        </div>

                        <div class="col no-gutters">
                            <div class="inner-info">


                                <span id="video-author"></span>
                                <span></span>

                                <span class="likes-comments" class="text-justify text-left "><span
                                        id="video-likes"></span>
            <img src="../static/heart.png" alt="" width="16">
            <span id="video-comments"></span>
            <img src="../static/comment.svg" alt="" width="16">
        </span>


                            </div>
                        </div>
                    </div>
                </div>
                <p video-title="" id="video-title"></p>
                <span id="video-author"></span>
            </div>

            <nav class="btn-row">
                <a class="navLink  like-btn" data-href=""><img class="mobile-icon" src="../static/unlike.svg"
                                                               alt=""><span class="nav_text">Like</span></a>
                <a class="navLink " data-href="" id="unlike-btn"><img class="mobile-icon" src="../static/like.svg"
                                                                      alt=""><span class="nav_text">Unlike</span></a>
                <a class="navLink comment"><img class="mobile-icon" src="../static/commentGrey.svg" height="20"
                                             alt=""><span class="nav_text">Comment</span></a>

            </nav>

            <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                       aria-controls="home" aria-selected="true">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" video-id="" id="episode-tab" data-toggle="tab" href="#episode" role="tab"
                       aria-controls="episode" aria-selected="false">CONTENTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="comments-tab" data-toggle="tab" href="#comments" role="tab"
                       aria-controls="comments" aria-selected="false">REVIEWS</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active p-3" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <p>Summary</p>
                    <p id="video-description"></p>

                    <p>Episode Summary</p>
                    <p id="episode-description"></p>
                </div>
                <div class="tab-pane fade" id="episode" role="tabpanel" aria-labelledby="episode-tab">


                </div>
                <div class="tab-pane fade p-3" id="comments" role="tabpanel" aria-labelledby="comments-tab">
                <div id="user-reviews"></div>
                </div>
            <div class="p-3">
                <h6>Related videos</h6>

            </div>
            <br>
            <br>
            <br>

            <div>
                <nav id="comment-nav" class="shadow-lg video-nav">
                        <span class="text-center p-2 w-100 align-self-center" data-href="">
                        <form action="" data-href="" id="comment-form"><fieldset>
                            {{ commentForm.hidden_tag() }}
                            {{ commentForm.content(class="comment-input",placeholder='Comment...') }}
                            {{ commentForm.submit(class="comment-btn") }}

                        </fieldset>
                        </form></span>
                </nav>
                <nav id="video-bot-nav"class="shadow-lg video-nav">
                    <h3 id="video-price" class="navLink"></h3>


                    <a class="navLink addCart" data-href=""><img class="mobile-icon" src="../static/addCart.svg" alt=""></a>
                    <a class="navLink share-btn"><img class="mobile-icon" src="../static/share.svg" alt=""></a>
                    <a class="navLink" id="buy" data-href="" user-id="{{ current_user.id }}">
                        <button class="common-btn">BUY NOW</button>
                    </a>
                </nav>
            </div>
        </div>
        </div>

        <div></div>

<div class="profile mt-3">

            <div class="row user-profile-info no-gutters">
                <div class="col-2 no-gutters">

                    <div data-href="" class="click-pro-pic user-profile-pic-wrapper">
                        <span><img class="profilepic" src="" alt=""></span>
                    </div>
                </div>
                <div class="col-3 no-gutters text-center">
                    <div id="user-followers"></div>

                    <span>Followers</span>
                </div>
                <div class="col-3 no-gutters text-center">
                    <div id="user-videos"></div>
                    <span>Videos</span>

                </div>
                <div class="col-3 no-gutters text-center">
                    <div id="user-live-sessions">
                    </div>
                    <span>Live Sessions</span>

                </div>

            </div>
            <div id="">
                <div id="user-username"></div>

            </div>

            <div class="profile-btn text-center">
      <span>
           <a id="follow" data-href=""> <button type="button" id="follow-btn" class="fixed-btn">Follow</button></a>
           <a id="unfollow" data-href=""><button type="button" id="unfollow-btn" class="fixed-btn">Unfollow</button></a>

      </span>
                <span>



           <a id="" data-href=""> <button type="button" data-href="" id="book-schedule-btn" class="fixed-btn">Book Schedule</button></a>

     </span>

            </div>
            <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="bio-tab" data-toggle="tab" href="#bio" role="tab" aria-controls="bio"
                       aria-selected="true">BIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contents-tab" data-toggle="tab" href="#contents" role="tab"
                       aria-controls="contents" aria-selected="false">CONTENTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab"
                       aria-controls="reviews" aria-selected="false">REVIEWS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="stats-tab" data-toggle="tab" href="#stats" role="tab" aria-controls="stats"
                       aria-selected="false">STATS</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active p-3" id="bio" role="tabpanel" aria-labelledby="bio-tab">
                    <p>Introduction</p>
                    <span id="user-introduction"></span>
                    <p id="video-description"></p>
                </div>
                <div class="tab-pane fade" id="contents" role="tabpanel" aria-labelledby="contents-tab"></div>
                <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">

                </div>
                <div class="tab-pane fade" id="stats" role="tabpanel" aria-labelledby="stats-tab"></div>
            </div>
        </div>

        <!-- Trigger the modal with a button -->

        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete?.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default yes-btn" data-dismiss="modal">Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                </div>

            </div>
        </div>

        <div id="book-schedule" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body append-user-schedule row">

                    </div>

                </div>

            </div>
        </div>





        <div class="schedule-container">
            <div class="row append-schedule no-gutters">

            </div>
            </div>
            </div>






    </body>




{% endblock %}

{% block bottomNav %}
    {{ super() }}
{% endblock %}

